[2012-08-21 12:23] ehynds opened #1 "Deleting a line that a mark is set on"
In vim, if you delete a line where a lowercase mark is set on (a-z) the mark is automatically deleted. In this plugin (which is great by the way), the sign for that mark remains. If you try to jump to it vim tells you "mark not set".

[2012-08-27 12:43] ehynds opened #2 "Error when g:SignatureIncludeMarks contains only uppercase marks"
I have this set in my .vimrc for now to work around issue #1:

`let g:SignatureIncludeMarks = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"`

Now when I try to set a mark via `m,` vim logs the following errors, and no marks are set:

![error](http://erichynds.com/i/877011.png)

[2012-08-30 15:35] #2 closed, assigned to kshenoy

[2012-09-18 17:32] techniq opened #3 "Conflicts with NERDTree menu ('m' key)"
When vim-signature is installed, I am unable to toggled NERDTree's menu (m key). I tried setting g:SignatureDefaultMappings = 0, but that didn't work.

[2012-09-26 07:20] bartlibert opened #4 "Hides pyclewn marks"
The pyclewn plugin for gdb debugging in vim uses marks to show breakpoints or the current location in the file. When used together with vim-signature, these marks are hidden by the "gutter" where the other marks are.
I notice that the "current position" marker (=>) is briefly shown after each "step" or "next" command, but gets hidden right away after that. Breakpoint markers are never shown.

This

[2012-09-27 06:38] #4 closed, assigned to kshenoy

[2012-10-13 17:01] #3 closed, assigned to kshenoy

[2012-10-18 19:41] markwu opened #5 "It will delay the menu display in nerdtree."
I like this plugin, the only one problem is it will delay the menu display in nerdtree.

In the first, I thought it is the problem of leader key 'm', I change it to &lt;c-m&gt;. Then the delay remains. The only way to get the speed back is to remove this plugin.

Any ideas can resolve this issue?

Thanks.

[2012-10-19 14:54] #5 closed, assigned to kshenoy

[2012-10-24 15:03] sencer opened #7 "Conflicts with python debugger"
Conflicts with the [python debugger](https://github.com/jabapyth/pydbgp) (removes the highligting and signs), which sets signs for current line and break points as in the [screenshot](http://jaredforsyth.com/media/uploads/images/vim_debug.jpeg).

[2012-10-24 19:14] #7 closed, assigned to kshenoy

[2012-11-14 08:38] fncll opened #8 "Update removed marks without toggling?"
If I use `:delm a` to remove the mark `a`, I have to `:SignatureToggle` to update the display to reflect that the mark is gone. Is there a way to have this happen without the toggle?

[2012-11-21 08:59] itaine opened #9 "I think signature is not playing well with the YankRing buffer."
I get the following when opening the yankring browser:

Error detected while processing function signature#BufferRefresh..<SNR>59_BufferMaps:
line   51:
E31: No such mapping

[2012-11-26 08:50] kshenoy opened #10 "Error when placing signs on the first line of a file"
Error detected while processing function signature#ToggleMark..<SNR>53_ToggleSign:
line   63:
E239: Invalid sign text:

Mark is placed but sign is not displayed. Instead it appears that an empty string is being placed.

EDIT: Works after [fix](https://github.com/kshenoy/vim-signature/commit/49255efc24df3c0ffa8b82cdc822469f423006db)

[2012-12-03 14:47] bbinet opened #11 "add signs for quickfix and locationlist items"
any plans to add support for generating signs for the quickfix and the locationlist items?

something similar to https://github.com/tomtom/quickfixsigns_vim

[2012-12-08 07:36] #9 closed, assigned to kshenoy

[2013-01-28 12:16] szpilman opened #12 "Check for existing remaps before wrapping the marks"
I have sacrificed my 'm' mark for the ease of pressing 'mm', which I remapped to bringing up Ex.

Since the plugin runs after my vimrc (that's what I guess) it's overriding my remap. Ideally it would check for existing remaps on each of m[a-z] and leave remaps alone. Maybe do this check only if I define something like `let g:signature_dont_override_mappings = 1`

Otherwise looking forward to this

[2013-02-14 04:59] #12 closed, assigned to kshenoy

[2013-02-14 05:00] #11 closed, assigned to nobody

[2013-02-28 12:29] evnu opened #14 ""Jump to next mark" needs at least two marks"
"Jump to next mark" works only if at least two marks exist.

Try:

[code]

The "jump to next mark" doesn't jump to `x`. After adding a mark `a` on the first line, it works.

[2013-03-02 00:40] kergoth opened #15 "Add the ability to show marks in quickfix/location windows"
Version 1.1 of mark-tools provides this functionality, and it's quite handy from time to time.

[2013-03-02 19:07] #14 closed, assigned to kshenoy

[2013-03-02 22:40] #10 closed, assigned to kshenoy

[2013-03-23 10:31] maek opened #16 "E239: Invalid sign text:"
If I set

[code]

when I try to add the 'p' mark (and only this one!?) with `mp` your plugin throws that exception.

[2013-03-31 20:15] #16 closed, assigned to kshenoy

[2013-04-23 23:04] sunaku opened #17 "prevent overriding '] and '[ mappings"
Hello,

Vim automatically sets `[` and `]` markers on the beginning and ending lines of a block of pasted text.  I rely upon this behavior to quickly navigate around blocks of pasted text.  But this plugin breaks that behavior. :crying_cat_face:

How can I prevent this plugin from overriding the `'[` and `']` mappings?

Thanks for your consideration.

[2013-04-25 04:38] #17 closed, assigned to nobody

[2013-06-14 09:01] UncleZeiv opened #19 "Signature only works properly on the first open buffer, partially on the others"
Hi,

  I installed vim-signature and I've been playing with it but I'm only able to place vim marks and have them displayed correctly. All other key bindings (e.g. m<space>, or the "£$%^" marks, don't seem to work.

  After playing around with it and even trying it with a modified vim script where it was the only bundle being loaded, I noticed that it does indeed work properly, but only on the fir

[2013-06-15 05:05] #19 closed, assigned to kshenoy

[2013-07-03 16:18] willnorris opened #22 "option to change color"
Is there any ability to change the colors used in the mark column?  I use the solarized-dark color scheme, and the mark column has this awful reverse color rather than blending in nicely like in your screenshots.  I suspect this is due to the unorthodox way that solarized uses ANSI color codes.  Having an option to specify the colors used here would be great.

![solarized-dark screenshot](https://

[2013-07-03 16:32] #22 closed, assigned to nobody

[2013-07-08 00:03] krsmedlund opened #23 "error message on vim 7.4 beta on windows"
Error detected while processing function signature#Toggle:
line   18:
E715: Dictionary required
E714: List required
line   22:
E715: Dictionary required
E714: List required

Is there a requirement needed that arent specified?

[2013-08-13 01:15] kdurant opened #24 "delete mark point"
how to delele mark point?

[2013-08-15 07:26] #24 closed, assigned to kshenoy

[2013-09-13 01:40] #23 closed, assigned to kshenoy

[2013-09-13 05:27] petobens opened #26 "Disable signature at startup"
Is there a variable to disable signature at startup? I want the gutter (along with the marks) only to appear when I call the Signature toggle command but not automatically. Thanks!

[2013-10-01 15:16] gpakosz opened #27 "Marks don't always show immediately"
Steps to reproduce:
1. open vim
2. write some text
3. set a mark, e.g. `ma`

The mark doesn't immediately show up on the screen. After some timeout, then it finally appears

[2013-11-06 01:29] fweep opened #28 "Undefined variable: b:sig_marks (and other errors)"
I just installed vim-signature. It starts off ok, but after using it for a while, I start getting errors about `b:sig_marks` being undefined. I haven't determined the exact trigger yet. I've been working in a single buffer, just trying out the features and navigation. Sometimes I get an error when trying to set a mark (`ma`), or when trying to navigate (`['`), etc. I've tried before and after call

[2013-12-16 03:16] ghost opened #29 "operation <ESC>m$ and err msg"
hi vim.signature

vim version :version
VIM - Vi IMproved 7.3 (2010 Aug 15, compiled Sep 13 2013 01:07:02) on Cygwin
keybord jp106

[code]

vim a.c  ""a.c editing

1  #pragma comment( lib, "sqlite3.lib" )
2
3  #include <tchar.h>
4  #include <sqlite3.h>
5  #include <stdio.h>

[code]

<ESC>m4

<ESC>m6

 err msg

function signature#Input..<SNR>43_ToggleMarker..<SNR>43_ToggleSign >
の処理中にエラーが検出されました:
行

[2013-12-25 06:48] #28 closed, assigned to nobody

[2013-12-25 22:18] #26 closed, assigned to kshenoy

[2013-12-26 21:41] #27 closed, assigned to kshenoy

[2013-12-26 21:42] #29 closed, assigned to kshenoy

[2013-12-28 12:43] majkinetor opened #30 "Map m doesn't work nor mark signature bar shows up correctly"
Since last version plugin basically doesn't work here.
I reverted to branch stable_4104e0bb6c and it works OK.

First thing that happens is that `m` binding doesn't work although when I type `map m` everything looks correctly. For example If I type `mi` I enter insert mode and If I call the mapped function `Input()` directly it starts to work !?

Second thing is that signature bar shows nothing, o

[2013-12-30 09:21] szw opened #31 "BundleUpdate suddenly generates errors"
Hi!

After the most recent update `:BundleUpdate` command (from Vundle) generates in the end:

[code]

The error continues to spread (it affects almost each Vim action) so I have to restart Vim.

[2013-12-30 14:27] mikeage opened #32 "m[A-Z] doesn't work if the mark is set in another file"
If I try to set a mark using A-Z, and it's already set, but in a different file, I get:

Error detected while processing function signature#Input..<SNR>105_ToggleMark:
line   20:
E684: list index out of range: 0
E15: Invalid expression: filter( s:MarksList(), 'v:val[0] ==# l:mark' )[0][1]
line   22:
E121: Undefined variable: l:mark_pos
E15: Invalid expression: l:mark_pos == l:lnum

If it's not set

[2013-12-31 07:25] #32 closed, assigned to kshenoy

[2013-12-31 07:37] mikeage opened #33 "m, doesn't insert the next mark"
It seems the problem is
if l:ascii == eval( '"\' . g:SignatureMap['PlaceNextMark'] . '"' ) | return s:ToggleMark('next')     | endif

If I replace l:ascii with l:char it works; I don't know enough about the edge cases in VimL to know if that's safe for all characters, or if something else, instead of eval, should be used to convert the characters in SignatureMap to an ascii value.

[2013-12-31 18:19] #33 closed, assigned to kshenoy

[2014-01-01 17:48] #31 closed, assigned to kshenoy

[2014-01-02 21:24] maksimr opened #34 "signature#SignRefresh() is too slow"
Every time when I jump to another buffer vim call **SignRefresh**
which execute 5 second :(

It is too slow ...

[code]

[2014-01-08 16:12] #30 closed, assigned to nobody

[2014-02-18 16:55] ghost opened #35 "Error when '] used when only one mark"
When there's only one mark set in the buffer, '] yields an error:

Error detected while processing function signature#GotoMark:
line   13:
E706: Variable type mismatch for: l:mark

[2014-02-24 23:54] #35 closed, assigned to kshenoy

[2014-02-26 10:29] sanpii opened #36 "Display internal marks"
Hello,

I have missing something or the internal marks (like [`'.`](http://vimdoc.sourceforge.net/htmldoc/motion.html#%27.)) are not displayed?

[2014-03-01 09:22] justinmk opened #37 "should exit if !has("signs")"
`plugin/signature.vim` should bail if `!has("signs")`. Instead, right now it shows this error every once in awhile (CursorHold?):

[code]

[2014-03-01 20:41] #37 closed, assigned to nobody

[2014-03-18 17:43] #15 closed, assigned to kshenoy

[2014-03-30 09:48] gergelypolonkai opened #42 "Interoperability issues with gitgutter"
Hello,

I’m using vim-signature and gitgutter together, both using the signs feature of ViM. When gitgutter marks a line has been changed, and I set a mark on that line, the mark signature overwrites the gitgutter signature. I’m not familiar with ViM plugin internals, so I can’t really tell if it is possible to prevent, though.

[2014-04-16 15:59] wellle opened #43 "Option to disable mappings '] `] '[ `["
I think the default mappings for `']`, ``]`, `'[`, ``[` (to move to the first or last line or character of the previously operated text) are more useful than traversing marks in alphabetical order.

Is there any way to disable these mappings while still having the vim-signature signs?

[2014-04-16 18:55] #43 closed, assigned to nobody

[2014-04-18 23:36] Californian opened #44 "Interaction with Folds"
Currently, no marks are visible in the sidebar when lines are folded, and when a mark is added on a fold, it is added to the end of the fold. In my opinion, it would be preferable if:
(a) marks on the first line of the fold were visible in the sidebar
(b) marks added on folded lines marked the beginning of the first line instead of the last line.

[2014-04-23 19:52] Praful opened #45 "How do you change the colour of the gutter margin?"
It's currently grey but I'd like to change this to another colour.

Is this possible?

Thanks

[2014-04-24 18:36] #45 closed, assigned to nobody

[2014-05-09 01:44] justinmk opened #46 "missing key error (and fix)"
Signature gets confused/broken if `g:SignatureMap` is redefined after init (for example if the user does `:source ~.vimrc` with a custom `g:SignatureMap`).

[code]

Suggestion: the plugin should use `g:SignatureMap` only on initialization, to set a script-local variable `s:signature_map`. It should not reference `g:SignatureMap` thereafter.

[2014-05-13 19:21] #46 closed, assigned to nobody

[2014-05-14 07:04] sfx2k opened #47 "Confirm overwriting of marks"
Hello Kartik,

would it be possible before setting a mark to check if this mark (local or global) was already set and a confirmation dialog to overwrite or not?

In the moment I delete some of my marks (most globals) by accident when setting a new mark that already exists :(

[2014-05-19 21:36] andreicristianpetcu opened #48 "Cannot unmap `] and `["
Hi! I tried to unmap `] and`[ but I could not. Am I doing it wrong or is it a bug?
https://github.com/andreicristianpetcu/dotfiles/commit/64e816e3670e396968aa361f94da3389a7620300

[2014-05-20 04:59] #48 closed, assigned to nobody

[2014-06-03 22:55] wellle opened #49 "Error detected while processing function ToggleSign"
When setting a mark in the command line window I get the attached stack trace:

Steps to reproduce:
1. Start `$ vim`
2. Enter command line window `q:`
3. Set a mark `ma`

I'm running Vim 7.4.316 with vim-signature on commit 0a294ca.

---

[code]

[2014-06-04 00:10] willjp opened #50 "Signatures data save location"
First of all, thank you so much for vim-signature, I love this program very much - it makes taking notes far faster and more efficient.

I have a series of todo lists that I sync across my all of my computers on my lan, and I have been using vim-signature to quickly navigate to categories in my list. I have noticed though that once the file has been moved to another computer, the tags aren't there

[2014-06-04 23:53] #50 closed, assigned to nobody

[2014-06-05 08:30] #49 closed, assigned to nobody

[2014-06-11 15:38] #47 closed, assigned to kshenoy

[2014-06-12 12:34] bartlomiejwolk opened #51 "Error when deleting mark"
Hi,
I use Vim 7.4 x86 GUI on Windows 8.1 x64 with _vim-signature_ (newest version) installed through _Pathogen_. I can set marks and jump marks (they display just fine) but i cannot delete them. Using `m-` gives me this error:
![signature_err](https://cloud.githubusercontent.com/assets/325348/3257527/55074a04-f22d-11e3-896f-33f9ca4b02f1.png)
I tried it with default _vimrc_ and no other plugins ins

[2014-07-05 22:07] #51 closed, assigned to kshenoy

[2014-07-08 13:55] Jobeo opened #53 "Error detected while processing function ToggleSign"
This error has been coming up for me sporadically.  It happens when I try to set a mark which is already set in some other place.

I don't know how to capture the error messages as it closes the window whenever I click on it.  I captured them as an image:

![vim-signature](https://cloud.githubusercontent.com/assets/3967525/3510500/4239f65e-06a7-11e4-93b7-862604844549.png)

[2014-07-14 20:03] Ram-Z opened #54 "Supporting setting ' or ` marks"
I have the following in my vimrc to insert lines before/after the current line without entering INSERT mode:

[code]

However since installing vim-signature this doesn't work anymore. It jumps back to the position of my last jump as if `m`` was never run.

[2014-07-15 02:38] #54 closed, assigned to nobody

[2014-07-23 13:29] mMontu opened #55 "Support of '[ and '] movement"
This issue is probably related to #54.

With this plugin it the movements to the start/end of the last block of changes (`'[` and `']`) doesn't work -- those commands have no effect (no cursor movement), despite `'.` still moves to the last change position.

As the docs states that

[code]

, I expected that last change would be a stop when jumping over marks, or that it would fallback to the defa

[2014-07-24 11:30] #55 closed, assigned to nobody

[2014-07-29 15:03] tang3w opened #56 "when open .vimrc, the first line automatically marked A-Z"
:version
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Dec 12 2013 21:16:35)
MacOS X (unix) version
Compiled by Homebrew

![shot](https://cloud.githubusercontent.com/assets/2226563/3736866/8952c210-1731-11e4-9717-ca4bfebd4851.png)

[2014-08-10 18:00] vasylnakvasiuk opened #57 "SignColumn color"
Hi. I've installed your plugin and see next:
![screen shot 2014-08-10 at 8 58 01 pm](https://cloud.githubusercontent.com/assets/139175/3870036/035470b0-20b8-11e4-87e8-3660cbeb0a5c.png)

As you see, vim-gitgutter color works fine, cause I set:

[code]

How can I change colors for `vim-signature`?

[2014-08-11 09:18] seletskiy opened #58 "SignColumn twitching when only one sign is placed"
I use very low `updatetime` option, that is set to 150ms. If I place several marks in buffer, overall experience is well, but if I place only one mark my editing area keep twitching around every time my cursor is stopped on one place.

Following gif demonstrates that behavior:
![a](https://cloud.githubusercontent.com/assets/674812/3873836/606ca0c6-2138-11e4-8dd4-2bf2238ca6c0.gif)

The reason for t

[2014-08-13 03:36] #57 closed, assigned to nobody

[2014-08-16 15:12] #44 closed, assigned to nobody

[2014-08-20 05:57] #58 closed, assigned to kshenoy

[2014-08-24 15:13] #56 closed, assigned to kshenoy

[2014-08-25 06:44] szw opened #62 "Undefined variable: Exception"
Hi,

After the latest commit I got the following messages when opening some files:

[code]

I'm not sure is it something broken on my side (.viminfo?) or there is sth wrong with the latest changes.
Thanks if advance for your help, and thanks for a cool plugin :). With files like ctrlspace.vim (5k lines) it's really helpful.

Cheers!

s.

[2014-08-26 02:08] #62 closed, assigned to nobody

[2014-09-08 21:25] JamshedVesuna opened #63 "Vim gutter present after marks are cleared from buffer"
I'm not sure if this is a feature or a bug, but if I create a mark then remove it, the gutter sidebar remains present in the buffer.

If there is a mark present, and I `m<Space>`, the marks are cleared and the gutter is removed (as wonderfully expected). However when there are no marks present and I `m<Space>`, the gutter remains.

Perhaps this functionality could be added if it isn't already deem

[2014-09-09 18:56] mMontu opened #64 "Error detected while processing function signature#GotoMark"
Sometimes I receive error E19 after a log file is update outside Vim:

[code]

This error message is correct because the file is smaller and the marks became invalid. The error is triggered after I tried to jump to a mark using `['`. But I only tried to jump because the sign column was still present, even when there was no valid mark.

I think it would be better to use a `autocmd BufReadPost` to r

[2014-09-10 01:58] #63 closed, assigned to kshenoy

[2014-09-18 10:52] #64 closed, assigned to kshenoy

[2014-09-24 02:54] danpolanco opened #66 "[compatibility?] ToggleSigns doesn't remove gray bar"
When I use ToggleSigns, even when all marks are remove, the bar the signs appear in sticks around:
![screen shot 2014-09-23 at 8 50 13 pm](https://cloud.githubusercontent.com/assets/3826143/4382955/98606d08-4395-11e4-8402-917019a143fa.png)

This includes after toggling and refreshing.

I just started using this plugin and I'm really digging it already :thumbsup:

Could it be Syntastic perhaps? Or

[2014-09-25 06:11] #66 closed, assigned to kshenoy

[2014-09-27 16:28] twmht opened #67 "m<backspace> does work"
hi,

I want to delete all the marks in current buffer, but `m<backspace>` does not work in normal mode.

Any suggestions?

Thank you.

[2014-09-30 15:02] #67 closed, assigned to kshenoy

[2014-10-20 10:37] jszakmeister opened #69 "Add an option to disable toggling of bookmarks"
I really like most of what is available, but I'd like `m[a-zA-Z0-9]` to always place the mark, rather than toggling it.  I realize that toggling is a useful feature too.  Is there a way to make this behavior optional?

[2014-10-27 02:41] sencer opened #70 "Regression (SignatureMarkTextHL)"
https://github.com/kshenoy/vim-signature/commit/135b8c766cca7b6f3af34d995d018181655864c8 creates a regression:

`let g:SignatureMarkTextHL = 'MatchParen'` line in my color scheme (https://github.com/sencer/mustang-vim) was working OK previously. Now it throws an error whenever I try to put a mark on someline:

[code]

[2014-10-27 17:39] #70 closed, assigned to nobody

[2014-11-01 21:53] #69 closed, assigned to kshenoy

[2014-11-02 15:59] atweiden opened #71 "Please do not remap `0` by default"
This line in plugin/signature/utils.vim is debilitating for anyone who uses `0` to navigate buffers.

[code]

Could you give users the ability to remap it to something different?

[2014-11-04 04:06] #71 closed, assigned to nobody

[2014-11-14 20:39] jpflouret opened #72 "Phantom marks left after delete"
I have the following document:

      line 1
    a line 2
      line 3
    b line 4
      line 5

If I issue `:'a,'bdelete` I'm left with some phantom markers that I cannot get rid of. It looks like this:

      line 1
    a line 5

The `a` mark is not set in vim since I get `E20: mark not set` when I try to jump to it. `:SignatureRefresh` doesn't help. If I set the `a` mark somewhere else in the

[2014-11-16 06:11] bartlomiejwolk opened #74 "Error: Duplicate tag "g:SignatureMarkLineHL""
Hi,

I have this error when launching Vim 7.4 on Windows 8.1,
![screenshot_25](https://cloud.githubusercontent.com/assets/325348/5060591/551ef246-6d5f-11e4-97ab-09da6c7306d1.png)

I disabled _signature_ to see if **g:SignatureMarkLineHL** was defined by some other plugin, but no. I'm using also: _ctrlp, ctrlp_bdelete, supertab, tagbar, vim-bufsurf, cscope_maps_.

[2014-11-16 11:00] jcfaria opened #75 "Error processing helptags"
Hi,

I'm using Vundle as plugin manager.
To install or update plugin I always get an error message related to the vim-signature plugin.
The log:

[code]

Any help is welcome.

J.C.Faria

[2014-11-17 03:23] #74 closed, assigned to kshenoy

[2014-11-17 03:24] #75 closed, assigned to kshenoy

[2014-11-17 16:39] #8 closed, assigned to kshenoy

[2014-11-17 17:07] #1 closed, assigned to kshenoy

[2014-11-18 07:20] bartlomiejwolk opened #76 ""z" mark placed randomly"
Hi, since I started using _Signature_, from time to time, when I open any file, a single "z" mark is placed in a random place.

![screenshot_27](https://cloud.githubusercontent.com/assets/325348/5083737/812ca7f0-6efb-11e4-80de-6278a6078aad.png)

After removing it, it happens again when I open the file some time later. Is it possible that any of my plugins triggers this behaviour? It happens random

[2014-11-18 17:56] #76 closed, assigned to kshenoy

[2014-11-22 08:16] unphased opened #77 "Support Signify (like gitgutter)"
Signify is like gitgutter, except it works better, and superior in many ways.

See #42.

[2014-11-22 08:24] unphased opened #78 "using m- bind makes all mark signs disappear"

[2014-11-22 08:25] unphased opened #79 "using m/ to open mark list, then hitting Esc, quits vim"
Please verify if you can reproduce.

[2014-11-23 20:11] #42 closed, assigned to kshenoy

[2014-11-24 04:11] #78 closed, assigned to kshenoy

[2015-01-13 02:45] winds18 opened #80 "install with vundle with many errors"
[code]
### system info : OS X 10.10 with vim 7.3

[2015-01-13 04:41] kshenoy commented on #80
This seems to be a problem with Vundle.

I created a minimal vimrc:

[code]

After running `:PluginInstall`, running `:scriptnames` shows that Vundle loads the file `vim-signature/signature.vim` but none of the other files.

This is why it can't find any of the functions and complains accordingly.

[2015-01-13 06:48] winds18 commented on #80
the list of the ```:scriptnames```  about signature
[code]
this only display after the install with vundle, reopen the vim it is ok

[2015-01-13 06:59] winds18 commented on #80
@kshenoy there is another problem about the background, look at the pic
![pic](http://i3.tietuku.com/72ed8a5bd09c7eab.jpg)
How can i to change the gray background?

[2015-01-13 12:17] kshenoy commented on #80
@winds18 Did you run `:scriptnames` immediately after installing signature or did you restart vim and then run it?

Regarding the gray background, what color scheme are you using?

[2015-01-14 02:03] winds18 commented on #80
@kshenoy i run it after restart vim. the background is solved, thank you for your notice.

[2015-01-14 05:20] kshenoy commented on #80
Closing. Reopen in case of any further questions or issues.

[2015-01-14 05:20] #80 closed

[2015-03-31 05:27] orbisvicis opened #81 "Moving Last Mark"
This action - moving the last mark - quickly toggles the display of the SignColoumn, which is visually disturbing. Is there anything that can be done, perhaps:

* add the new mark before deleting the old mark (even possible?)
* hide+change the old mark before adding the new mark
* force the sign column display, temporarily

[2015-03-31 11:51] alem0lars opened #82 "Not working with other plugins that uses the gutter"
If I use another plugin which uses the gutter (e.g. syntastic), only one information can be shown at a given time. Instead, I think it would be greater if multiple informations can be shown for a line.

Is this possible?

[2015-03-31 16:28] kshenoy commented on #81
Wow, that's badly broken. I'm not able to move any mark :(
Give me some time to figure out what's wrong.

[2015-03-31 16:41] kshenoy commented on #82
I don't know (or even think it's possible) how to find out if other plugins are using signs in a systematic manner. I don't think vim makes that information easily available.

However, there is some customization that you can do. Check out this thread for more information: https://github.com/kshenoy/vim-signature/issues/42

Instructions on how to do the same are [here](https://gist.github.com/kshe

[2015-04-01 05:12] kshenoy commented on #81
Can you give it a try now?

[2015-04-01 08:08] orbisvicis commented on #81
Thanks; it's fixed.

[2015-04-01 08:08] #81 closed

[2015-04-09 11:40] michaelmior commented on #77
I didn't notice this issue until after, but managed to get something basic working for myself

[code]

[2015-04-09 11:42] michaelmior commented on #77
To me, it seems like it would make sense to detect if plugins like these exist and assign `SignatureMarkTextHL` accordingly. Of course this does mean that they will require some maintenance when the plugins change, but it seems better than posting snippets of code like the above in other locations and leaving others to figure it out when it breaks.

[2015-04-09 16:20] kshenoy commented on #77
I prefer to keep code contained and have as few dependencies as possible. In this case, if I include all these in the code, then function for GitGutter would be if someone uses Signify and vice-versa. That is why I didn't want to include it in this repo.

However, you raise a very valid point. I think I'll probably create separate plugins of these so that anyone who is interested can install which

[2015-04-09 16:58] michaelmior commented on #77
There are no dependencies necessary. You can simply check and see if either of the plugins is installed and conditionally enable support.

[2015-04-09 16:59] michaelmior commented on #77
For example, vim-airline does this for all of it's various extensions. If you check the top few lines of each of the files in the extensions folder, there's a small check to see if the extension is installed.

https://github.com/bling/vim-airline/tree/master/autoload/airline/extensions

[2015-04-11 04:39] kshenoy commented on #77
Fair enough. Just had a discussion today at work about convenience for the designer vs convenience for the end-user and to cut a long story short, I've added support for these :)

[2015-04-11 04:39] #77 closed

[2015-04-11 15:28] kshenoy commented on #53
I hope the issue is resolved. If not, please feel free to reopen it.

[2015-04-11 15:28] #53 closed

[2015-04-11 15:28] kshenoy commented on #72
I hope the issue is resolved. If not, please feel free to reopen it.

[2015-04-11 15:28] #72 closed

[2015-04-11 15:30] michaelmior commented on #77
Thanks! Just tested this out and it works great :)

[2015-04-11 15:31] kshenoy commented on #77
Np. And thanks once again for implementing this for Signify :)

[2015-04-12 18:00] habitullence commented on #36
+1

[2015-04-21 02:26] chpz opened #83 "How to show signature and line number in same column？"

[2015-04-21 15:42] kshenoy commented on #83
If a line has a mark, do you want to see the mark instead of the line number?

[2015-04-22 02:07] chpz commented on #83
Yes

[2015-04-22 04:28] kshenoy commented on #83
Well, by default vim puts line numbers and signs in separate columns. So doing what you want isn't possible.

However, if you're willing to settle for relative line numbering, then you can try installing https://github.com/vim-scripts/RltvNmbr.vim This plugin will show relative line numbers as signs and by disabling vim's numbering, you could get close to what you want.

However, I don't think it'

[2015-04-22 04:28] #83 closed

[2015-04-23 09:49] andreasthoelke opened #84 "Jump to next mark across buffers"
Signature works very well for me, thank you! There is one feature I'm missing however:

I would like to rotate through all marks across buffers using the next/prev mark commands. I think this would facilitate buffer navigation greatly, also I would not have to memorize the mark IDs, but could just maintain a short list of places that I can rotate through.

I think it would be great if we had a "Ju

[2015-04-23 10:44] andreasthoelke opened #85 "Toggling folds is slow"
Expanding and collapsing folds takes about 900 milliseconds, when I have vim-signature enabled in my vimrc via `Plugin 'kshenoy/vim-signature'`. If vim-signature is disabled, expanding and collapsing folds works instant.

I'm using gVim 7.4 on Win 8.1.

[2015-04-23 16:40] kshenoy commented on #84
Interesting! Give me some time to think about this.

[2015-04-23 16:42] kshenoy commented on #85
Would it be possible to send this file? If not, can you give me some infomation on how many lines are in that file, how many folds, how many marks etc.

[2015-04-24 11:57] andreasthoelke commented on #85
Thank you for looking into this!

I can reproduce the behavior like this:

With `Plugin 'kshenoy/vim-signature'` commented out:
* Create a new text file with 4 lines of text (one word each)
* fold lines 2-3

Toggling of the fold is now instant.

Then
* uncomment `Plugin 'kshenoy/vim-signature'`
* restart vim

Now toggling of the same fold is slow (takes approx. 900ms).

* comment out `Plugin 'kshe

[2015-04-24 12:06] andreasthoelke commented on #85
I suspect that maybe I'm using another plugin that is interfering with vim-signature. Here is the list of plugins I use:

[code]

[2015-04-24 16:31] kshenoy commented on #85
If it's that easy to reproduce then I agree with you that it's probably due to interaction with some other plugin. Ok, let's try to narrow things down.

First, can you start vim with just vim-signature enabled using this command

    vim -Nu <(echo 'set rtp+=~/.vim/bundle/vim-signature/')

If folding is responsive, start vim using your setup but comment out all plugins except for Signature

Also,

[2015-04-25 04:56] kshenoy commented on #84
Can you give it a try now? I didn't create default maps for it (since I can't think of any good ones). You'll have to do it yourself. Something like

    nnoremap ]" :<C-U>call signature#mark#Goto("next", "spot", "global")
    nnoremap [" :<C-U>call signature#mark#Goto("prev", "spot", "global")

[2015-04-25 18:18] andreasthoelke commented on #85
A curious turn: I don't see the slow toggling of folds any more! I saw it consistently for two days, even after restarts. I can't remember what I have changed since then - I'm working on the same project with a mostly unchanged vimrc.
I will run the test you described if I come across the lag again.
Anyway, I'm happy that everything is fast now! Thanks again for looking into this!

[2015-04-25 19:45] kshenoy commented on #85
Umm, we didn't root-cause the issue. But... you're welcome?

Closing this. Feel free to reopen if it pops up again

[2015-04-25 19:45] #85 closed

[2015-04-25 19:45] kshenoy commented on #79
Closing due to inactivity. Reopen if required.

[2015-04-25 19:45] #79 closed

[2015-04-26 16:30] kshenoy commented on #84
I'm assuming this works and closing this request. If not, please reopen it.

[2015-04-26 16:30] #84 closed

[2015-04-28 21:09] andreasthoelke commented on #84
Awesome, this works exactly as expected! I think it makes working across several files a lot faster/more convenient. I mapped it to the home raw:

[code]

Thanks for turning this around so quickly!!

[2015-04-29 04:30] kshenoy commented on #84
Np, the Goto() function can also take the _line_ argument

    call signature#mark#Goto("next", "line", "global")<CR>

like so if you want to jump only to the line and not necessarily the spot (dunno why you'd wanna do that or why I even added it but it exists... : / )

[2015-06-19 17:09] e-dorigatti opened #87 "Remapping `m`"
Hello,
for some reason I am not able to make the following remap work: `nnoremap <Leader>m m.`.  Actually, I cannot make any remap involving `m + <command>`, for example `nnoremal <C-L> ma`. My leader is the space key, and I did not remap `:` (I remapped `,` to `:` though)

[2015-06-19 23:45] kshenoy commented on #82
Closing due to inactivity. Feel free to reopen if required.

[2015-06-19 23:45] #82 closed

[2015-06-19 23:51] kshenoy commented on #87
I'm not sure I understand the issue.

1. Do you have the default mappings for Signature and is that when you're facing this issue?
2. Where are you trying to do `nnoremap <Leader>m m.`

[2015-06-20 17:08] e-dorigatti commented on #87
Yes, I have the default mappings. I am trying to put that into my .vimrc
but it doesn't even work from inside vim

On Sat, Jun 20, 2015, 01:51 Kartik Shenoy <notifications@github.com> wrote:

[2015-06-23 19:41] kshenoy commented on #87
Hey, sorry, I've been really busy at work lately and it's only going to get worse with projects coming to a close :(

I'll try to work on this but can't promise it'll be any time soon.

[2015-06-24 07:07] e-dorigatti commented on #87
No worries, be strong and good luck! Thanks for your work ;)

On Tue, Jun 23, 2015, 21:41 Kartik Shenoy <notifications@github.com> wrote:

[2015-07-04 08:29] acornejo opened #88 "what about global marks?"
At the very least, it would be nice to be able to pullup a list of all global file marks and jump to it (similar to the m/ and m? functionality, except that for global file marks).

[2015-07-06 03:59] henry-zhuang opened #90 "How to clean all signature?"

[2015-07-07 18:21] kshenoy commented on #90
You can use `m<Space>` and `m<BS>` to remove the signs for all the marks and markers respectively.

From the doc:

    m<Space>     Delete all marks from the current buffer
    m<BS>        Remove all markers

[2015-07-08 01:51] henry-zhuang commented on #90
@kshenoy I try it, but it is invalid.

[2015-07-08 17:51] kshenoy commented on #90
Ok, then I think I misunderstood your question. Could you please elaborate on what you're trying to do?

[2015-07-08 18:59] rkennedy opened #91 "SignatureMarkTextHL cannot really be a function reference"
The [documentation for `SignatureMarkTextHL`][1] says it can be set to a function reference, so I expected to be able to set the variable like so:

[code]

That causes errors, though:

[code]

The line 20 referenced refers to this code:

[code]

It uses `eval`, but if it were really a function reference (as created with [`function()`][2]), it should use `call` instead.

Using `eval` is fine (altho

[2015-07-08 19:33] kshenoy commented on #91
Hmm, thanks for pointing that out. Function reference is really a bad choice of words.

In the common case `g:SignatureMarkTextHL` will point to a highlight group. The eval was added later on as an enhancement.

I could use a combination of strings for explicit highlight groups and funcrefs for dynamic highlighting and use [`type()`](http://vimdoc.sourceforge.net/htmldoc/eval.html#type()) to disti

[2015-07-08 21:26] rkennedy commented on #91
It turns out that `call()` isn't even needed. Function references can be called just like ordinary functions. Pull request #92 uses `type()` to detect strings and uses `eval()` for them, so all existing configurations should continue to work fine. (I browsed the first few dozen GitHub search results for `SignatureMarkTextHL` and didn't see anyone relying on anything other than `a:lnum` in their ex

[2015-07-09 00:56] #91 closed

[2015-07-09 00:57] kshenoy commented on #91
Fair enough. Just the line number should probably suffice.

Thanks for the detailed doc write-up

[2015-07-09 02:05] henry-zhuang commented on #90
@kshenoy

Sorry, I try my best to elaborate in English.

I open a file such hello.go
I type `mm` for mark this line.
Now, I want to delete this mark, how should I do?

[2015-07-09 04:16] kshenoy commented on #90
Ah, ok. There are multiple ways to remove the mark. They are

1. If you're on the line, press `mm` again to remove mark 'm'.
2. If you're on any other line, you can press `dmm` to remove mark 'm'
3. `m-` will remove all marks from the current line
4. `m<Space>` will remove all marks from the current buffer

Hope that helps

[2015-07-09 05:12] henry-zhuang commented on #90
@kshenoy It‘s strange. I use four ways, but couldn't delete mark.

[2015-07-09 05:27] kshenoy commented on #90
Umm, that is really weird. What does the file hello.go contain? Is it empty?

[2015-07-09 07:34] henry-zhuang commented on #90
@kshenoy

[code]
Not only hello.go, other file can't delete mark.

[2015-07-09 14:28] kshenoy commented on #90
Ok, I tried it at my end and it works fine; I don't why it doesn't work for you.

Can you please do the following:

1. Open a file without any marks present it
2. Place a mark 'm' using `mm` anywhere in the file
3. Paste here the output of `:marks m`
4. Paste here the output of `echo b:sig_marks`
5. Paste here the output of `:map m`

Thanks

[2015-07-09 14:52] henry-zhuang commented on #90
@kshenoy

This is my output

[code]

echo b:sig_marks
[code]

:map m
[code]

[2015-07-09 15:16] kshenoy commented on #90
Ah! That's interesting. The mapping doesn't exist. That is why you are not able to delete marks.
Probably some setting in your config is deleting the maps.

Can you try starting vim with the following command (change the path to wherever you have installed vim-signature):

    vim -Nu <(echo 'set rtp+=~/.vim/bundle/vim-signature/')

and see if you're able to delete marks?

[2015-07-09 15:22] kshenoy commented on #87
Doh! I missed the obvious bit here. 'm' is already mapped to `:<C-U>call signature#Input()<CR>`
That's why if you use `nnoremap <C-L> ma`, you trigger only the default behavior of 'm' and not the new one.

Check this [Stack Overflow reply](http://stackoverflow.com/a/3776182/734153) for details.

You can make the maps by simply using `nmap` instead of `nnoremap`

    nmap <Leader>m m.
    nmap <C-L

[2015-07-09 15:28] henry-zhuang commented on #90
@kshenoy Ok, it works.

How can I modify my .vimrc?

This is my .vimrc
https://github.com/henry-zhuang/dotfile/blob/master/.vimrc

[2015-07-09 15:53] kshenoy commented on #90
Ah, that's the painful part. Here are the steps I'd follow:

First, comment all `Plugin` calls except `Plugin 'kshenoy/vim-signature'` in plugin.vim. This will tell us if some other plugin is deleting the maps or if it is some setting in your main .vimrc

Next, use binary search ie. comment out half the plugins, see if Signature works or not. If it does not work, then the problem is inside the sti

[2015-07-09 16:56] henry-zhuang commented on #90
@kshenoy Binary search is a good way.

I want to streamline my plugin file, how can I do better?

[2015-07-09 17:22] kshenoy commented on #90
Hmm, take a look at [my vimrc](https://github.com/kshenoy/dotvim/blob/master/vimrc). I use the variable DISABLE_FROM to help me with binary searches.

Also check out [Bisectly](https://github.com/dahu/bisectly)

[2015-07-10 07:56] e-dorigatti commented on #87
It works, thank you!

[2015-07-10 07:56] #87 closed

[2015-07-10 08:42] haitongz commented on #27
this problem occur again on my MacVim

[2015-07-10 19:34] kshenoy commented on #27
@haitongz can you try starting vim with the following command (change the path to wherever you have installed vim-signature):

    vim -Nu <(echo 'set rtp+=~/.vim/bundle/vim-signature/')

This will open vim with just vim-signature installed. Check if you're still facing the problem.
If not, then it means some other plugin is interfering with the maps. In either case, what's the output of `:verb ma

[2015-07-11 08:16] haitongz commented on #27
@kshenoy I restart my MacVim, it works. thx

[2015-07-14 23:57] somini opened #93 "Support signify/gitgutter for markers"
Basically the same thing as #77, but for markers too.

[2015-07-15 05:58] iago-lito opened #94 "Marking visually selected areas?"
Hey guys. We kinda like the idea of signature, and we are working on a small plugin for saving and restoring another kind of marks: marks to save and restore visually selected areas. It is young and small, but consistent so far and it is starting to get snappy, check it out [there](https://github.com/iago-lito/vim-visualMarks).

Wouldn't it be nifty to integrate it into signature, displaying color

[2015-07-18 09:14] kshenoy commented on #90
Closing this as I assume the original issue has been resolved. Please reopen in case of any questions

[2015-07-18 09:14] #90 closed

[2015-09-14 15:33] rafi opened #95 "Custom `.viminfo` location: error in `ForceGlobalRemoval()`"
Please support `'viminfo'` custom location. For example, I use this configuration:
[code]
You can read about this option with `:h 'viminfo'`
The function `signature#mark#ForceGlobalRemoval()` should check the variable `&viminfo` first, and only then try to guess location via `$HOME`.

[2015-10-10 23:31] #95 closed

[2015-11-03 08:45] kflu opened #97 "Vundle installation: error detected while processing signature.vim: Unknown function: signature#util#Set"
I got this error when installing it via Vundle. And after the installation, subsequent vim launches will not have this issue. However, helptags are not generated. I'm using Windows and Vundle it that matters.

    error detected while processing signature.vim: Unknown function: signature#util#Set

![untitled](https://cloud.githubusercontent.com/assets/1031978/10903944/081f6622-81c4-11e5-9dca-68ef7

[2015-11-07 19:46] kshenoy commented on #97
This most probably is a bug with Vundle itself. It doesn't seem to be sourcing any other file from the plugin folder upon installation.

I filed an [issue](https://github.com/VundleVim/Vundle.vim/issues/666) against them.

[2015-11-07 19:57] hallzy opened #98 "vim-signature produces several errors after latest commit"
upon opening any file with vim after the last commit I get these errors before the document loads:

![screenshot from 2015-11-07 11 53 26](https://cloud.githubusercontent.com/assets/5404143/11017003/9ce85702-8546-11e5-8b93-9d45fff58e06.png)

And about ever 10 or so seconds the same errors pop up, probably while signature tries to update.

[code]

[2015-11-08 03:20] kshenoy commented on #98
That doesn't make sense. It doesn't give those errors for me. Can you remove it and then reinstall it and see if it helps.

[2015-11-08 03:32] hallzy commented on #98
Ya that did it. Thanks.

The problem was that I just copy the files over to my ~/.vim folder, but did not realize that some of the files had changed locations, so I never removed the old files and I guess that got something confused.

[2015-11-08 03:32] #98 closed

[2015-11-11 08:47] gpakosz opened #99 "Bug when displaying uppercase marks?"
Here are the steps:

- open `foo.txt`, set mark `A`
- open `bar.txt`, set mark `B`, and also set mark `A`
- `:bn` to get back to `foo.txt`

By now, when issuing `:call signature#mark#List('buf_curr')` for `foo.txt`, the list of current mark is empty. Yet, mark `A` is still being displayed.

[2015-11-11 10:02] kshenoy commented on #99
Interesting. Thanks for letting me know.

It seems it doesn't refresh the global marks at all. The same incorrect persistence is seen even if you just place `A` in bar.txt without placing `B`

I'll get back to you when I learn more.

[2015-11-11 10:19] kshenoy commented on #99
Hmm, looks like it was incorrectly identifying "free marks" when it came to globals. Give it a whirl now.

[2015-11-11 17:41] gpakosz commented on #99
Seems to work now. Thanks!

[2015-11-11 21:20] #99 closed

[2015-11-11 21:22] kshenoy commented on #93
Hey, have been really busy at work for the past couple of months. Am only fixing bugs now. Will look at new feature requests when I have some spare time.

[2015-11-11 21:22] kshenoy commented on #88
Hey, have been really busy at work for the past couple of months. Am only fixing bugs now. Will look at new feature requests when I have some spare time.

[2015-11-14 21:45] alexlafroscia opened #101 "Removing marks seems broken"
I can place a mark using, for example, `me` (which is just part of the default Vim behavior).  However, deleting a mark through `dme` does not work, it just moves to the end of the next word (like `e` normally would).

[2015-11-15 17:18] kshenoy commented on #101
That's weird. It works at my end.  What is the output of `:map dm`?

Also, I moved some files around recently. Can you try completely uninstalling and reinstalling it and see if that helps.

[2015-11-15 17:32] alexlafroscia commented on #101
The output of `:map dm` is:

[code]

[2015-11-17 16:08] rafi opened #102 "Disabling auto key mappings?"
Is it possible to disable all the keyboard mappings and configure them manually?

[2015-11-17 18:04] kshenoy commented on #102
Take a look at [this](https://github.com/kshenoy/vim-signature/blob/367a28175ac59f1fcbff87fb8f4ee5c66e74b1dc/doc/signature.txt#L91-L122)

[2015-11-17 18:59] rafi commented on #102
I've tried that, but `vim-signature` still binds itself to some mappings I don't want it to:
[code]
When using:
[code]

[2015-11-17 19:30] kshenoy commented on #102
The way you have configured `g:SignatureMap` will not result in a different behavior. The plugin will see that you have created customisations for Leader, PlaceNextMark, ToggleMarkAtLine etc. and use what you've set it up as. As for the rest, it'll just pick up the defaults.

`g:SignatureMap` should be used to specify what you want to override. If you want to disable `'[` then you should specify

[2015-11-18 03:38] kshenoy commented on #101
Ok, I'm unable to reproduce this.

Can you try starting vim with only Signature and see if the issue still exists? Try this `gvim -Nu <(echo 'set rtp+=~/.vim/bundle/vim-signature/')`

If yes, then tell me the output of `echo b:sig_marks` after you try place the mark `me` and also after you execute `dme`

[2015-11-25 17:43] alexlafroscia commented on #101
After `me`:

[code]

After `dme`:

[code]

It doesn't seem to have a problem when using _just_ `vim-signature`.  I wonder which other plugin is conflicting... I can start searching but it'll take a while.

[2015-11-28 13:17] AguirreIF commented on #97
Hi, I was having exactly the same issue with [pathogen](https://github.com/tpope/vim-pathogen). I moved the file `plugin/signature/utils.vim` to `autoload/signature/utils.vim` and now its working great.

[2015-11-28 16:14] kshenoy commented on #97
@AguirreIF The file `plugin/signature/utils.vim` is not intended to be moved to the autoload directory. If doing so helps then pathogen might have the same bug as Vundle

[2015-11-29 05:25] rafi commented on #102
Thank you, this works for me.

[2015-11-29 05:25] #102 closed

[2015-12-14 15:34] udopt opened #103 "Recover from accidental m<Space>?"
Is there a way to recover from an accidental `m<Space>`?

[2015-12-14 23:32] kshenoy commented on #103
Nope, but there's a [way to be a little more careful](https://github.com/kshenoy/vim-signature/blob/367a28175ac59f1fcbff87fb8f4ee5c66e74b1dc/doc/signature.txt#L266-L270) in the future. See if that works for the case you have in mind.

[2015-12-15 08:59] udopt commented on #103
Thanks, enabling `g:SignaturePurgeConfirmation` does the job for me.

[2015-12-15 17:49] #103 closed

[2015-12-21 07:59] ilaipi commented on #101
@alexlafroscia Hello, is it solved? I use wklken/k-vim and this trouble me too.

[2015-12-21 20:02] alexlafroscia commented on #101
No, I haven't dug into which other vim plugin is messing with things.

[2015-12-26 06:35] lord commented on #101
Have this problem, too! Using neovim. Seems to occur when I don't have other plugins installed, but I just switched back to vim after ~3 years of sublime, so maybe I'm just doing something wrong. Also using vim-plug.

[2015-12-28 03:28] kshenoy commented on #101
@lord Do you get it even when Signature is the only thing installed? Test it with `gvim -N u <(echo 'set rtp+=~/.vim/bundle/vim-signature') -U NONE`

Replace `~/.vim/bundle/vim-signature` with wherever you're installing plugins if you're not using the standard settings.

[2015-12-28 21:28] nedbat commented on #101
Removing marks works for me (using `mm` to set and also `mm` to remove), until somehow it stops working.  I wish I had more information for you.

[2016-01-01 22:03] lord commented on #101
@kshenoy Hmm, like I said, using neovim, which doesn't appear to have `-N or `-U` flags, at least in the man page? I tried uninstalling all other plugins, and it was still happening.

[2016-01-07 01:33] kshenoy commented on #101
@lord Ah, ok. I'm not familiar with Neovim myself. If you guys could let me know how to reproduce this then I'd appreciate it but till then I can't help but sit here twiddling my thumbs

[2016-01-07 14:10] nedbat commented on #101
@kshenoy it happened to me again, so I grabbed the output of ":map", then restarted vim, and got the output of ":map" again.  The difference is that all of the vim-signature bindings are gone:
[code]
I don't know what makes it happen though.

[2016-01-08 02:14] kshenoy commented on #101
@nedbat Ok, the fact that the whole thing goes kaput helps. It looks like to avoid conflicts with NerdTree, I delete all mappings when entering a NerdTree pane and recreate it when exiting it. Are you doing anything of that sort?

[2016-01-08 12:04] nedbat commented on #101
I do use NerdTree.  I can pay attention to what might be happening there.

[2016-01-18 23:48] lencioni opened #104 "Errors when using with vim-vinegar"
I'm using vim-signature along with vim-vinegar and have been getting some errors from vim-signature when browsing around my files using Netrw.

Sometimes when pressing `-` while in Netrw to go up a directory level, I see the following errors reported:

[code]

[2016-01-21 10:45] kshenoy commented on #104
That function gets invoked when pressing `m` and grabs the next character that is typed.

Can you figure out what you're pressing when you get the error? That would help me a lot.

[2016-01-21 17:55] lencioni commented on #104
I get the error when pressing `-`, but not every single time. On a fresh boot of Vim, if I press `-` it brings up Netrw without any errors. Then, the first time I press `-` to go up a directory, I see the errors, but not on subsequent times.

[2016-01-24 21:44] lencioni commented on #104
I'm not sure if this is useful information or not, but I've started seeing some more errors occasionally, when using Netrw, always when pressing `-` to go up a directory level:

[code]

[2016-01-28 09:46] andrewferrier commented on #104
+1. I'm seeing this too.

[2016-01-28 17:08] kshenoy commented on #104
I'm sorry you guys are getting this error; I'm still trying to reproduce it at my end without much success.

If you find a definite way to reproduce it please let me know.

[2016-01-30 20:48] andrewferrier commented on #104
kshenoy, thanks for the reply. It appears I can now recreate this consistently:

VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Nov  4 2015 17:40:55)
MacOS X (unix) version
Included patches: 1-909

vim-signature commit 7cabfb5
vim-vinegar (https://github.com/tpope/vim-vinegar) commit b8b6de8

Start up vim with a new file: `vim /tmp/xyz.txt`.

Press `-` twice. The first will succeed, and show the `/t

[2016-01-30 20:50] andrewferrier commented on #104
It's not clear to me, by the way, that this is a vim-signature problem as opposed to vim-vinegar :) But hopefully this helps narrow it down a bit though...

[2016-02-02 08:52] kshenoy commented on #104
Hello @andrewferrier thanks for providing that, it is definitely a step forward. However, I tried with Vim patched to 516 and it still works for me. I'll try again later with a fully updated version of vim.

[2016-02-02 16:52] lencioni commented on #104
If it is helpful, I'm on Vim 7.4 with patches 1-1063.

[2016-02-03 12:18] kshenoy commented on #104
Updated to 1246 and still not hitting it. These were the contents of my vimrc:

    filetype plugin indent on
    set rtp+=~/.vim/bundle/vim-signature
    set rtp+=~/.vim/bundle/vim-vinegar

and my .vim setup:

    .vim
    ├─ vimrc
    └─ bundle
       ├─ vim-signature
       └─ vim-vinegar

Can you please try the following setup and see if you still get the error?

[2016-02-03 12:42] andrewferrier commented on #104
OK, I just tried the same setup as you (my bundle directory is named with plugged, but otherwise the same scenario) - with the same vim-vinegar and vim-signature commits as above - and I don't see the problem any more. Maybe another plugin interacting... sigh. Let me see if I can narrow it down a bit further...

[2016-02-03 12:45] andrewferrier commented on #104
Argh, appears this is more intermittent than I thought, can't reproduce it the way I was before, now.

Any suggestions for any debug logging or similar I can turn on for when/if it happens again?

[2016-02-03 12:49] andrewferrier commented on #104
OK, I've recreated it somewhere else in my directory tree. One thing I have spotted - it only seems to happen when using `-` for the first time in a vim session to reach a particular directory. If I then go into a subdir and back to its parent using `-`, it never shows the error the second time. I'm guessing it's some lazy-loading behavior as netrw loads a particular directory.

[2016-02-03 12:52] andrewferrier commented on #104
My vimscript knowledge is a bit basic, but as far as I can tell the error must be coming from the `signature#utils#Input` function in `utils.vim` in vim-signature - that's the only place that uses the line of code referenced in the error. But puzzle - that function seems to only be called when the user is interactively asked for a character. Why would that happen when doing something unrelated (na

[2016-02-03 13:03] andrewferrier commented on #104
OK, I *think* I've found a possible culprit - I think it could be the fact I'm using [vim-plug](https://github.com/junegunn/vim-plug) as my plugin manager.

At least at the moment, I can now consistently reproduce by running `vi ~/.vim/plugged/vim-signature/plugin/signature.vim` and hitting `-` twice (I think the fact it's `signature.vim` I'm editing is mostly incidental), *if* my ~/.vimrc looks l

[2016-02-04 05:36] kshenoy commented on #104
@andrewferrier I tried with `vim-plug` as well, using the same vimrc as you. However, I don't get the error.

While I'd like to get to the bottom of this, I understand it might be frustrating for you both. If you want, you can put a hack in to avoid this issue altogether

In plugin/signature.vim, replace [this line](https://github.com/kshenoy/vim-signature/blob/7cabfb5a3d3b45e739eb1d7e198782fb4a5a

[2016-02-04 14:25] andrewferrier commented on #104
@kshenoy strange that you still cannot reproduce. Are you using a Mac? Wonder if its specific to a certain version of vim.

Anyway, I just tested that patch, and yes, that works - thanks. Actually that doesn't look so hacky to me - I would guess that in practice vim-signature wouldn't even be used in netrw or nerdtree-type buffers anyway - it doesn't really make sense to use signs in such places.

[2016-02-05 05:25] kshenoy commented on #104
Donated to trunk. Sorry, we couldn't get to the bottom of this.

Closing; reopen if required

[2016-02-05 05:25] #104 closed

[2016-02-05 05:36] kshenoy commented on #94
Hello @iago-lito, I'm subscribe to the unix philosophy of creating one tool for one job and ensuring that it does the job well. So much so that I considered splitting markers away from marks but didn't do so only because of a large portion of code being common to both.

Thus, I'm not in favor of merging two different tools offering completely different features. However, if you do anything from my

[2016-02-05 05:36] #94 closed

[2016-02-05 12:48] andrewferrier commented on #104
Perfect, that works for me. Thanks!

[2016-02-07 15:24] nedbat opened #106 "m-space doesn't remove the sign gutter"
If I set a mark with `mm`, the gutter appears with an `m` in it.  If I then remove the mark with `mm`, the gutter disappears, because the file has no marks.

If I set a mark with `mm`, and then remove it with `m<Space>` (remove all the marks), the gutter remains.  Shouldn't it disappear?

[2016-02-07 16:00] lencioni commented on #104
Thanks for working on this!

[2016-02-07 17:37] kshenoy commented on #106
It should. Can you tell what version of the plugin are you using?

[2016-02-08 00:25] nedbat commented on #106
Hmm, I have the latest version, and i just tried it again, and the gutter did go away.  Another flavor of mysterious disabling?

[2016-02-08 12:02] kshenoy commented on #106
Tbh, I have no idea. Suddenly there seems to be a stream of difficult to reproduce bugs : /

Closing this; feel free to reopen it if it pops up again

[2016-02-09 15:56] bcoady commented on #101
I too was having conflicts with NerdTree. I commented out these two lines in Signature.vim and it all seems to work well now.

`"    autocmd BufEnter,FileType * if (&filetype ==? 'nerdtree') | call signature#utils#Maps('remove') | endif
"    autocmd BufLeave * if (&filetype ==? 'nerdtree') | call signature#utils#Maps('create') | endif`

These lines were attempting to delete and recreate the mappin

[2016-02-10 10:03] nedbat commented on #101
@bcoady I'm trying to reproduce the problem using NerdTree, but I'm not seeing it.  The behavior with a new buffer in a new gvim is the same as after I open a new buffer from NerdTree.

[2016-02-15 10:30] nedbat opened #107 "Don't delete marks you don't manage"
I use global marks (capital letters) for fixed files that I need to visit often.  I don't need to see those marks, so I set:
[code]
I was using `m<Space>` to clear the mark gutter, and was later confused why some of my global marks were missing.  Of course, it's because `m<Space>` clears all marks, including the global mark for the file.

I think it would make sense for `m<Space>` to only affect t

[2016-02-16 16:37] kshenoy commented on #107
Hmm, I don't face this issue. Can you use `:marks` before and after pressing `m<Space>` to confirm if the global mark is actually removed by Signature?

Also, can you try starting vim with only Signature installed using `gvim -N -u <(echo 'set rtp+=~/.vim/bundle/vim-signature/') -U NONE` command and repeating the same experiment?

[2016-02-17 11:35] nedbat commented on #107
Hmm, your experiments shows that the global mark is not deleted... Odd.  I only lost global marks after I learned about `m<space>`, so I associated the two.  Sorry to keep being the bearer of mysterious effects!

[2016-02-17 11:35] #107 closed

[2016-02-17 12:44] kshenoy commented on #107
Haha, no problem. Glad that it worked out.

[2016-02-19 10:56] Hans-Guenter commented on #101
There is an unbalance betweeen the autocommands for removing and creating the mappings.
The autocommand for removing acts on filetypes nerdtree and netrw while the latter only on the nerdtree one.
The corresponding autocommand should read:
    autocmd BufLeave * if **(** (&filetype ==? 'nerdtree')
                     **\ || (&filetype ==? 'netrw')**
                     **\ )**

[2016-02-19 13:16] kshenoy commented on #101
@Hans-Guenter You're right. Thanks for spotting that :)

[2016-02-28 10:30] iamcco commented on #106
I have the same problem in neovim, see [here ](https://github.com/neovim/neovim/issues/4288)
@kshenoy may be you can update README for those using neovim

[2016-03-01 05:14] kshenoy commented on #106
@iamcco Thanks for pointing it out.

Unfortunately, I don't use NeoVim. Can you please create a pull request and update it? Thanks

[2016-03-10 02:46] wyne opened #109 "Undefined variable: SignatureMarkText"
Just installed fresh. Whenever I try to set a mark, I get this error:

[code]

[2016-03-10 14:28] kshenoy commented on #109
Hmm, this doesn't make sense. Did you put anything in your vimrc to get this working?

Can you start vim using the following command `gvim -N -u <(echo 'set rtp+=~/.vim/bundle/vim-signature/') -U NONE` and see if you still get the error?

Can you point me to your vimrc?

[2016-03-10 19:07] wyne commented on #109
Hm, the error doesn't happen when i use that command. Maybe some other plugin I have installed is interfering.

I'm using neovim and my config is here:
https://github.com/wyne/dotfiles/blob/master/vim/.nvimrc

[2016-03-10 19:29] kshenoy commented on #109
Your rc file doesn't have any Signature related stuff in it. So I can't comment on it.

The reason I say it's weird is because I don't use variables named `SignatureMarkText` or `SignatureMarkerText`.

If you can figure out if it's due to interaction with some other plugin and which plugin it is it'd be a great help

[2016-03-10 19:37] wyne commented on #109
Oh, looks like the `morhetz/gruvbox` and/or `mhinz/vim-signify` is causing the issue. Sorry for the false alarm and hanks for the quick response!

[2016-03-10 19:37] #109 closed

[2016-03-10 19:45] wyne commented on #109
Related: https://github.com/morhetz/gruvbox/issues/38

[2016-03-11 05:33] kshenoy commented on #109
Umm, I'm not sure how Gruvbox is at fault here. Their code looks fine. Let me dig deeper.

Can you tell me if you get the error by starting vim like this:

    gvim -N -U NONE -u <(cat << VIMRC
    filetype plugin indent on
    set rtp+=~/.vim/bundle/vim-signature
    set rtp+=~/.vim/bundle/gruvbox
    colorscheme gruvbox
    VIMRC)

[2016-03-11 06:06] wyne commented on #109
Running like this:
[code]

And as soon as it open, I do `ma` to set a mark:

[code]

[2016-03-11 08:11] kshenoy commented on #109
Can you try updating to the latest version and trying again? I put in some fixes that I think could be related to your issue.

[2016-03-11 10:31] kshenoy commented on #93
Sorry for the extremely late response. Can you give it a try now?

[2016-03-11 10:38] kshenoy commented on #91
The code in `after/plugin/signature_gitgutter.vim` did not get updated in this pull and was corrected in a18b193.

Mentioning here for cross-reference

[2016-03-11 18:22] wyne commented on #109
vim-signature: 47ceaf9cbd970450953bdf3e84e281473a579ac0
gruvbox: 91bae6876031ececf151cc4f28aa5fb8c93681e4

Running with just gruvbox and vim-signature enabled, it's working fine now. Progress!

Though when I use [my full vimrc](https://github.com/wyne/dotfiles/blob/master/vim/.nvimrc), I get this error when doing `ma` on a new buffer:

[code]

I'm not very familiar with how to debug these things,

[2016-03-11 18:29] wyne commented on #109
Everything is working fine on existing files as opposed to new buffers, though. Not sure if that's meaningful or not.

[2016-03-11 18:55] kshenoy commented on #109
Can you please paste the contents of your full vimrc? The previous paste did not have signature install line or any signature related settings.

[2016-03-11 19:09] kshenoy commented on #109
Ok, I think I figured out what's wrong. Please try now.

[2016-03-11 23:11] wyne commented on #109
Updated to 17809dedb451814dfffe86069a479e5a41f109d5 and no errors.

Thanks so much!

[2016-03-12 01:33] somini commented on #93
![screenshot from 2016-03-12 01 31 38](https://cloud.githubusercontent.com/assets/1750665/13719748/599692e8-e7f2-11e5-9512-cc3d584a398f.png)
The markers' colour should be the same as the sign, to be consistent with the marks.

[2016-03-12 06:39] kshenoy commented on #93
Hmm, on taking a closer look, I'm afraid I won't be able to add support for Signify presently.

The reason is because, I try to use Signify's internal data to determine if a line has been added/changed/deleted to determine the color of the mark/marker to be placed. However, once I place the sign for the mark/marker, it seems that Signify is removing information of that line from its data structure

[2016-03-12 10:58] somini commented on #93
After a good night's sleep, I don't know why I mentioned Signify on this bug report, I'm using git-gutter. I probably confused it with signature, or maybe months ago I was using signify.
I only realizes until now that the markers dynamic text was a separate setting. I enabled them both and now it works perfectly. Many thanks.
![screenshot from 2016-03-12 10 51 41](https://cloud.githubusercontent.c

[2016-03-14 16:49] lcd047 commented on #97
I have the exact same problem testing the new package system in recent Vim versions (see `:h packages` in Vim 7.4.1553 or later).  A function named `signature#util#Set()` is an autoload function, and it's supposeed to live in a file `autoload/signature/utils.vim`, with the `autoload` directory in `runtimepath` (see `:h autoload` for more information).  If it works at all in a different file, that'

[2016-03-16 16:59] #97 closed

[2016-03-16 17:05] kshenoy commented on #97
@lcd047 Thanks for pointing me to `:h autoload-functions`

Moved utils.vim to autoload directory since the documentation clearly states that vim will search for a function `filename#funcname()` in autoload directories in runtimepath.

Closed bug against Vundle too.

[2016-04-08 22:17] mousepotato opened #111 "marks highlight problem"
When I added a mark, the current line will be highlighted which prevents me from seeing? Any idea how to correct this?

![screenshot 2016-04-08 15 15 27](https://cloud.githubusercontent.com/assets/97764/14398923/dbc186b4-fd9c-11e5-8366-711f3129694b.png)

[2016-04-09 14:26] kshenoy commented on #111
Hi, can you tell me the output of `:echo g:SignatureMarkLineHL` and `:hi SignatureMarkLine`?

[2016-04-09 14:29] kshenoy commented on #101
Closing this as I assume it's been dealt with. Feel free to reopen if required.

[2016-04-09 14:29] #101 closed

[2016-04-09 19:00] #88 closed

[2016-04-12 09:32] channoh opened #112 "typo in help text"
Thanks to share a great plugin.

I think **1** might be **!** in *doc/signature.txt* at line 165.

[code]

[2016-04-12 16:23] kshenoy commented on #112
No, it is correct. Try it out.

[2016-04-14 23:41] #112 closed

[2016-04-22 20:31] acornejo opened #113 "conflicts with git plugins"
When used with either `junegunn/gv.vim` or `gregsexton/gitv` this plugin causes a highlighting problem where all whitespace in a commit is highlighted as a search match.

To reproduce simply install either of the aformentioned plugins and when inside a gitrepo execute either `:GV` or `:Gitv` respectively.

[2016-04-23 02:34] kshenoy commented on #113
Umm, it works for me. Can you post a screenshot of the highlighting issue?

[2016-04-30 17:36] snitko opened #114 "When add/remove a mark, it doesn't automatically appear on the left"
When add/remove a mark, it doesn't automatically appear on the left and I have to invoke `:SignatureRefresh` manually in order for that to happen. Is there a way to avoid that?

[2016-05-03 15:20] kshenoy commented on #114
Hi, sorry for the late response; I've been busy with work.

That's weird, can you tell me the output of `:echo g:SignaturePeriodicRefresh` and `:set updatetime?` ?

[2016-05-03 16:09] snitko commented on #114
I apologize, it looks like something wasn't properly installed, works just fine now.

[2016-05-03 16:09] #114 closed

[2016-05-08 15:00] Torwori commented on #101
@kshenoy I'm having this issue while using `vim-nerdtree-tabs`, it goes away when I jump to the NerdTree buffer and then back to the file.

[2016-05-11 02:11] kshenoy commented on #101
Hey @Torwori I'm very busy with work now. I'll take a look at this during the weekend.

If you have a way to reproduce this every time, can you please elaborate?

[2016-05-11 16:49] Torwori commented on #101
I've since removed nerdtree-tabs, but basically none of the expected
bindings (eg. dma) would work in a newly opened tab unless I entered and
exited the nerdtree buffer first.

On Wednesday, May 11, 2016, Kartik Shenoy <notifications@github.com> wrote:

[2016-05-12 22:31] teto opened #115 "Invalid argument... signature#sign#Refresh[19]..signature#sign#Place[28]"
I open a long file (660882 lines) and I have this error popping up continuously (doesn't seem to happen on other files).

Here is the mesage
[code]
using vim-signature 31028e7a0d015b04a51e721af155fd11d1b6ac76 with NVIM v0.1.5-154-g0bfc1f3

[2016-05-15 16:27] kshenoy commented on #115
That's really weird if it errors out for only 1 particular file. Can you try deleting your shada file (or to start with move it somewhere else) so that nvim starts without any initial configuration and see if that helps?

This is the line it errors out on:

    execute 'sign place ' . l:id . ' line=' . a:lnum . ' name=Signature_' . l:str . ' buffer=' . bufnr('%')

Since you're able to work normall

[2016-05-17 22:05] Samcfuchs opened #116 "Mark region background color"
![image](https://cloud.githubusercontent.com/assets/6753408/15340880/c0dc2170-1c59-11e6-8f1c-05c026747e9c.png)

The background for the mark region is a very ugly grey on my system, which looks terrible with solarized and other dark themes. Is there, or can there be a command to change that color?

[2016-05-18 04:53] kshenoy commented on #116
Hi, can you give it a try now. This should at least fix the different color background between's Signature's sign and the rest of the SignColumn itself. Both should now be the same color.

If by grey, you're referring to the column that is present to the left of the number column, then that is decided by the colorscheme you've loaded. See the output of `:highlight SignColumn`. It'll match the grey

[2016-05-19 01:37] Samcfuchs commented on #116
I was able to fix the color of the leftmost column by putting this line in my vimrc:

    hi SignColumn guibg=#002b36

But after messing around with some other colors, it did not seem like the background of the mark itself was updating appropriately. I'm not too worried, because the mark background seems to default to the text field background color, and that's what I set that column to.

[2016-05-19 03:51] kshenoy commented on #116
Right, that was a bug I fixed. If the sign column and text field colors are different then the sign would look ugly. The new behavior is that the background of the mark will match the background of the sign column.

[2016-05-19 03:54] #116 closed

[2016-05-19 10:30] Samcfuchs commented on #116
No, but the background of the mark should match the sign column, not the text field, right?

[2016-05-19 14:45] kshenoy commented on #116
That's right. At least, that's what I'm trying to do when I donated a fix after you opened this bug.

Is this not what you're seeing?

[2016-05-19 15:06] gracjan-grala opened #117 "Bad signature#utils#SetupHighlightGroups behaviour when synIDattr returns -1"
After updating to the latest version (with [Fix for #116](https://github.com/kshenoy/vim-signature/commit/132a551572afa4e6fb1ed88b5c964cae12c33ff8)) I'm getting the following error when starting vim:
[code]
I think [this](https://github.com/kshenoy/vim-signature/commit/132a551572afa4e6fb1ed88b5c964cae12c33ff8#diff-9c5029876950a74b848fde1d32b656caR143) is the line where it goes wrong:
[code]
`synID

[2016-05-19 15:58] kshenoy commented on #117
That's weird. I tested it with made up highlight group names as well as cleared ones and I got a blank string everytime. Anyways, hope this additional boundary check works.

[2016-05-19 23:37] Samcfuchs commented on #116
Well, after I updated to your fix, the column was still grey. Unfortunately, I didn't take a screenshot, but it was the same as in the first screenshot. Then I added the line above to the vimrc to change the color of that column manually. After commenting it out and reloading the vimrc, this is what I got:

![image](https://cloud.githubusercontent.com/assets/6753408/15412833/012f1354-1df9-11e6-815

[2016-05-21 11:15] gracjan-grala commented on #117
Thanks, that fixed it for me

[2016-05-21 11:15] #117 closed

[2016-05-30 06:39] chenhouwu commented on #3
Here to reproduce the problem I met:
1. I open a new file `a.txt`, then I have the `m.` keymap.
2. I open the *nerdtree*, and then navigate back to the `a.txt` window, then the `m.` keymap is still there.
3. I run `:e b.txt`, the `m.` keymap is gone. I run `:e a.txt`, the `m.` keymap is still absent. I open a file `c.txt` from *nerdtree*, the `m.` keymap is missing too.
3. I navigate to the *nerdt

[2016-05-30 06:43] chenhouwu commented on #101
see: #3

[2016-05-30 23:25] kshenoy commented on #3
@chenhouwu Hi, I'm able to reproduce this at my end too. Looks like when you press `<CR>` on a file in NerdTree, it doesn't trigger the `BufLeave` event.

That is what I use to recreate maps for Signature upon leaving the NerdTree buffer. And the only reason to create and remove maps is because of the conflicting `m` map in NERDTree. Would you be amenable to using `M` in NerdTree instead of `m`?

[2016-05-30 23:30] kshenoy commented on #101
Please refer to [my response](https://github.com/kshenoy/vim-signature/issues/3#issuecomment-222565292) for a workaround. I'm kind of tired dancing around this issue and will probably just go down this path permanently since I can't think of a better way to deal with it.

[2016-05-31 03:59] chenhouwu commented on #3
I like this solution.  Simple and effective.

But modify the source code is not optimal, because I want to keep up with the latest codes, and local modification will prevent it if without additional care.

Is it possible to **delete them in the official repository** and describe this solution on the README?

[2016-05-31 04:09] chenhouwu commented on #3
another solution is even simpler:

1. for bufenter, if is in nerdtree, then remove maps.
if not in nerdtree, and key is not mapped(is there such a flag already?), then create the map.
2. no need to response to the bufleave event.

[2016-05-31 04:28] chenhouwu commented on #3
I just test the `bufleave` event, and found:

1. if the buffer is active buffer is `a.txt`, and you press <CR> on the `a.txt` item of `nerdtree`, then `bufleave` event is not fired. the `bufenter` for `a.txt` is also not fired.
2. if the buffer is active buffer is `a.txt`, and you press <CR> on the `b.txt` item of `nerdtree`. then both event is fired as expected.

[2016-05-31 04:49] kshenoy commented on #3
I'd like to think about it a little more before I go down this route.

Thanks for expanding and describing the two cases. I was wondering why this wasn't seen earlier. I guess it's pretty rare that someone would do something like you described in case 1 i.e. open NERDTree and jump back to the same buffer using NERDTree itself. It sounds like a bug in NERDTree since any behavior that depends on Buf

[2016-06-02 02:47] xushaobo opened #118 "Can't list"
In my vim , the "m?" commond only can show marker !@#$%^&*(), it can't show mark 'x' at all.Anyone has meet this question?

[2016-06-02 03:02] kshenoy commented on #3
Hey, I read your [this reply](https://github.com/kshenoy/vim-signature/issues/3#issuecomment-222589998) and wanted to make sure that I understood you correctly. Are you seeing both `enter nerdtree` and `leave nerdtree` messages being echoed or are you able to see only `enter nerdtree` but not `leave nerdtree` when you re-enter the same buffer?

[2016-06-02 03:10] kshenoy commented on #118
Hi, `m?` displays only the markers. Use `m/` for a list of the marks.

From the [help](https://github.com/kshenoy/vim-signature/blob/f89c3d433c83fabea91a56cf95030de4c2a6d91d/doc/signature.txt#L44-L52):

    m/           Open location list and display marks from current buffer
    m?           Open location list and display markers from current buffer

Hope this helps

[2016-06-02 03:21] #118 closed

[2016-06-02 03:21] xushaobo commented on #118
Thanks😙

2016-06-02 11:10 GMT+08:00 Kartik Shenoy <notifications@github.com>:

[2016-06-02 04:36] chenhouwu commented on #3
@kshenoy I furtherly traced the event in a more verbose way, and updated [this comment](https://github.com/kshenoy/vim-signature/issues/3#issuecomment-222589998)

[2016-06-05 08:45] krzkrzkrz opened #119 "How do you always show the marker area?"
How do you always show the marker area? Even if there are no markers set

[2016-06-05 15:27] kshenoy commented on #119
I don't. If Signature is the only plugin that places signs, then the SignColumn will only be visible if there are any marks/markers.

Here's what it looks like with a marker:
![withmarker](https://cloud.githubusercontent.com/assets/1559554/15806393/5c19814a-2b10-11e6-85b4-96acd8836e94.PNG)

And here, you can see that the SignColumn goes away when I delete the marker:
![withoutmarker](https://cloud

[2016-06-05 21:25] krzkrzkrz commented on #119
Yea but isnt there a way to make sure that the SignColumn is always present, regardless if there is a marker present or not?

[2016-06-05 23:37] kshenoy commented on #119
Ah, I misunderstood the intent of your question. I thought you were always seeing the SignColumn and wanted to get rid of it.

Well, you can simply place a dummy sign. Vim displays the SignColumn as long as there's 1 sign.

You can add the following to your vimrc:

    sign define Dummy
    autocmd VimEnter  * bufdo execute 'sign place 21358 line=1 name=Dummy buffer=' . bufnr('%')
    autocmd BufN

[2016-06-06 00:33] krzkrzkrz commented on #119
Maybe good to have it as a setting? Maybe call it `SignatureShowAlways`?

[2016-06-06 00:40] kshenoy commented on #119
Nope, sorry but that is not a good idea for two reasons:

1. This has got nothing to do with the core functionality of the plugin i.e. showing signs for marks that are placed.
2. This can be easily accomplished by a few lines of vimscript and doesn't require any data from this plugin.

[2016-06-06 00:40] #119 closed

[2016-06-09 18:58] jkerian opened #121 "Errors when marking extremely large files on 32bit vim"
When I have vim-signature installed (windows, 32bit vim) and try to mark in one of my 3,000,000+ line files, I get an ugly error message from "sign place", with an invalid name.

The cause appears to be this line:   let l:id  = a:lnum * 1000 + bufnr('%')
For a large file on 32bit vim, l:id is wrapping around to a negative number. sign place doesn't appear to accept negative number names.

An easy

[2016-06-09 20:46] kshenoy commented on #121
Nice catch. Thanks for the pull.

[2016-06-09 20:46] #121 closed

[2016-06-09 22:10] jkerian commented on #115
This is very similar to the error I was seeing in https://github.com/kshenoy/vim-signature/issues/121, so it might be fixed at the tip right now. I wouldn't think 660882 would be long enough to trigger that bug though.

If the tip doesn't fix the issue, would you please provide more debug information either by making the change kshenoy requested, or by typing

`:debug normal ma` somewhere in the f

[2016-06-10 15:30] teto commented on #115
I think it's the same indeed, hence I close (I had to remove the file I had the problem with 'cos I was runing out of space :( )

[2016-06-10 15:30] #115 closed

[2016-07-05 18:55] xushaobo opened #122 "conflicts with the Nerdtree Plugin"
When I set nerdtree auto-open at startup,
just put the sentence on  .vimrc,
let g:nerdtree_tabs_open_on_console_startup=1

and then I use mm ,vim-signature can't work well again.

[2016-07-08 12:27] matthiasbeyer opened #123 "m-2 does toggle the @ mark, but I'm with a german keyboard"
... so `2` is `"` here.

Any way to configure this would be awesome!

[2016-07-08 16:06] kshenoy commented on #123
Hmm, shouldn't be too difficult. Give me a little while to figure out a good way to do it.

[2016-07-08 17:27] kshenoy commented on #123
Can you give it a try now? You'll have to add the following somewhere in your vimrc:

    let g:SignatureIncludeMarkers = ')!"#$%^&*('

Note that the symbols within the string are zero-indexed i.e. the first symbol corresponds to 0, the next to 1, the one after that to 2. Thus, the `@` was replaced with `"`

[2016-07-08 17:40] kshenoy commented on #122
Hi, sorry for the late response.

Where do you get the option `g:nerdtree_tabs_open_on_console_startup`? I can't find any option like that in NERDTree's help. Not only that but I can't find any option that uses snake case. All of NERDTree's options only seem to use mixed case.

[2016-07-08 17:51] xushaobo commented on #122
Tanks for your replay
So if you add "let g:nerdtree_tabs_open_on_console_startup=1" to ~/.vimrc,and then reboot vim to use the signature plugin ,there's no problem occur?
Fine if so, maybe the error caused by other setting in my vim.

[2016-07-08 18:03] xushaobo commented on #122
:help nerdtree

74 ## Configuration
 75
 76 You can switch on/off some features of the plugin by setting global
vars to 1
 77 (for on) or 0 (for off) in your vimrc. Here are the options and their
default
 78 values:
 79
 80 * `let g:nerdtree_tabs_open_on_gui_startup = 1`
 81   Open NERDTree on gvim/macvim startup
 82
 83 * `let g:nerdtree_tabs_open_on_console_startup = 0`
 84   Open NERDTree on co

[2016-07-08 18:31] kshenoy commented on #122
Hi, the `g:nerdtree_tabs_open_on_console_startup` is not an option in [NERDTree](nerdtree_tabs_open_on_console_startup) itself but I found it in [vim-nerdtree-tabs](https://github.com/jistr/vim-nerdtree-tabs). Is that what you're using?

I installed both NERDTree and vim-nerdtree-tabs and I'm able to see the problem now; Signature doesn't work. Give me some time to figure out what's happening.

[2016-07-08 18:36] sunaku opened #124 "E117: Unknown function: strcharpart"
As of commit 485c1f8f5ccaa8a531026641059c940413f1beee:

[code]

[2016-07-08 18:40] kshenoy commented on #124
That's weird. I was able to happily place and remove signs.

Do you get this error as soon as you enter vim? What do I have to do to reproduce this?

[2016-07-08 18:51] xushaobo commented on #122
Yes，It's occur to me that  I use the 'Plugin 'jistr/vim-nerdtree-tabs' to auto-open nerdtree for me.
The problem must be caused by it , because  When I only use nerdtree and signture,they work well for me.Thank you for all the trouble you've taken！

[2016-07-08 19:01] kshenoy commented on #122
No problem. This is an old bug. The problem is that since NERDTree and Signature have some maps that conflicts, Signature tries to delete its maps when you enter the NERDTree pane and create it again when you leave NERDTree pane.

However, the problem is that entering and leaving NERDTree doesn't trigger the BufLeave and BufEnter autocmd events. See the [discussion](https://github.com/kshenoy/vim-

[2016-07-08 19:13] sunaku commented on #124
It happens when I open a particular file that contains marks (which are remembered in my ~/.viminfo file, I think).  It doesn't occur on normal Vim startup (when just running `vim` or opening a file that has no marks).

Here is my Vim version:

And to reproduce the bug:
1. Run `vim /tmp/foo`
2. Insert "hello world"
3. Press `mx` and observe the error
4. Run `:map m` and make sure that it's bound t

[2016-07-08 19:13] kshenoy commented on #3
Hi @chenhouwu I deleted that code in trunk since I haven't heard back from NERDTree yet.

[2016-07-08 19:16] sunaku commented on #124
Here's an even simpler diagnostic:

[code]

That new function simply doesn't exist for me.

[2016-07-08 19:18] sunaku commented on #124
I also tried this under NeoVim 0.1.4 and found that strcharpart() doesn't exist there either.

[2016-07-08 19:34] kshenoy commented on #122
Please update and try now.

[2016-07-08 19:42] #124 closed

[2016-07-08 19:43] kshenoy commented on #124
Changed all `strcharpart()` to `strpart()` since I doubt people would specify multibyte characters : /

[2016-07-08 19:58] xushaobo commented on #122
Yes now it works fine,
How quick and efficient you are.
and how lucky I'm. haha

2016-07-09 3:34 GMT+08:00 Kartik Shenoy <notifications@github.com>:

[2016-07-08 20:41] kshenoy commented on #122
Glad it works. Once again I'm sorry for the late response; I was busy with work.

Since Signature no longer deletes its maps, you might face a small delay when you press `m` in the NERDTree pane. If you want to avoid that, you can change the key used by NERDTree

    let g:NERDTreeMapMenu='M'

[2016-07-08 20:41] #122 closed

[2016-07-08 20:59] sunaku commented on #124
Works great now, thanks! :+1:

[2016-07-09 02:48] Portersson commented on #116
@Samcfuchs instead of changing the highlight colors to hex value, I think what you're looking for is setting them to 'none' which will make them follow the background.

I added this to my .vimrc
[code]

[2016-07-09 18:25] kshenoy commented on #116
@Samcfuchs Let me reuse your screenshot.

![012f1354-1df9-11e6-815b-fb797fffb854](https://cloud.githubusercontent.com/assets/1559554/16709498/656a5324-45e0-11e6-8565-9511e705219a.png)

I've marked the SignColumn with two different colored rectangles. The green box is the portion of the SignColumn over which Signature has control over to decide the color of the foreground and the background. The re

[2016-07-09 21:17] lencioni commented on #104
This issue seems to have returned for me recently.

[code]

[2016-07-10 03:11] kshenoy commented on #104
Sorry about that. I deleted it because it seemed to be working for me but I forgot that I was unable to reproduce it the last time either. Trying out a different fix this time (#125). Let me know in case of any issues.

[2016-07-25 14:50] halfflat opened #126 "g:SignatureWrapJumps=0 leads to indexing errors"
With `g:SignatureWrapJumps=0` set, disabling wrap around on e.g. positional jumps, attempting to go to the previous mark from or from before the first mark, triggers an error:
[code]

[2016-07-25 15:32] #126 closed

[2016-08-09 15:31] vasyapupkin123456 opened #128 "Press ENTER or type command to continue if I open vimrc(all folded)"
resolve this problem:
replace in signature.vim
autocmd BufEnter,CmdwinEnter * call signature#sign#Refresh()
to
autocmd BufEnter,CmdwinEnter * silent call signature#sign#Refresh()

[2016-08-11 20:14] kshenoy commented on #128
Hi, I don't see this happening. Can you try running this command (assuming you're using Linux) and see if you still get the prompt?

    gvim -N --cmd 'set rtp=$VIM,$VIMRUNTIME,$VIM/after' -U NONE -u <(echo 'set rtp+=~/.vim/bundle/vim-signature')

If not, then it's likely because of some other reason. In that case, check out `:h hit-enter`

[2016-08-30 15:06] jaresty opened #129 "Conflicts with builtin vim marks for beginning of (and end of) last inserted text"
I would like to use vim-signature but also be able to easily [select the last inserted text in vim ](http://superuser.com/questions/382576/how-to-select-the-last-inserted-text-in-vim).  However, the vim-signature plugin's default keystrokes for GotoNextSpotAlpha (`` `] ``) and GotoPrevSpotAlpha (`` `[ ``) conflict with the builtin marks.  There isn't any way to customize the keystrokes for the plu

[2016-08-31 14:05] kshenoy commented on #129
Take a look at [this](https://github.com/kshenoy/vim-signature/blob/367a28175ac59f1fcbff87fb8f4ee5c66e74b1dc/doc/signature.txt#L91-L121)

Also note that to disable the mapping you have to set it to an empty string.

So, to disable the ones you mentioned you'll have to specify:

      let g:SignatureMap = {
        \ 'GotoNextLineAlpha'  :  "",
        \ 'GotoPrevLineAlpha'  :  "",
        \ }

Whe

[2016-08-31 15:20] jaresty commented on #129
That looks great! I like that it will now be possible to override all the
mappings.  Thank you!

Josh

On Wed, Aug 31, 2016 at 8:17 AM Kartik Shenoy <notifications@github.com>
wrote:

[2016-08-31 15:21] jaresty commented on #129
Ah -- it looks like this was already possible.  My bad -- sorry I misread
that documentation.

Josh

On Wed, Aug 31, 2016 at 8:20 AM Josh Aresty <jaresty@gmail.com> wrote:

[2016-08-31 15:22] #129 closed

[2016-09-10 18:33] vasyapupkin123456 commented on #128
I set set cmdheight=2 and solve this problem

[2016-09-11 16:46] #128 closed

[2016-10-16 18:40] acornejo commented on #113
![screen shot 2016-10-16 at 11 39 09 am](https://cloud.githubusercontent.com/assets/83786/19419868/3210c8a2-9395-11e6-9055-3fb3587f6609.png)

Sure thing. I've actually ended up disabling vim-signature because of it :(

[2016-10-16 18:48] acornejo commented on #113
If I remove this line the problem goes away:

https://github.com/kshenoy/vim-signature/blob/537651a3a6dac10442f3e5ea2bb55a0bfd3324a6/plugin/signature.vim#L55

[2016-10-18 03:20] #113 closed

[2016-10-18 03:20] kshenoy commented on #113
That's weird. Were you able to figure out why that was happening?

[2016-11-09 11:33] Alok commented on #34
I still have some issues with this. It's fairly fast, but not fast enough to feel *smooth*.

In order of slow to faster, these functions I profiled cause the most trouble.

[code]

[2016-11-10 00:05] kshenoy commented on #34
@Alok Can you describe your specific scenario? i.e. whatever you're doing to make it slow.

[2016-11-18 10:21] lsenta commented on #82
Can you share a gist reference in the README to the solution? current links are outdated.
Thanks!

[2016-11-21 05:05] kshenoy commented on #82
@lsenta If you're referring to highlighting signs dynamically for git-gutter etc. then all you have to do is

    let g:SignatureMarkTextHLDynamic   = 1
    let g:SignatureMarkerTextHLDynamic = 1

[2016-11-21 14:53] kshenoy commented on #123
Closing due to inactivity. Please reopen if required.

[2016-11-21 14:53] #123 closed

[2016-11-21 14:54] kshenoy commented on #111
Closing due to inactivity.

[2016-11-21 14:54] #111 closed

[2016-12-08 09:36] gerikis opened #131 "color marks"
Hi,
I would like to color the marks. I don't want to mark a mark with a letter , but with a color rainbow .
Like : a is blue : b is yellow ...etc .

[2016-12-08 17:44] kshenoy commented on #131
I'm not sure I follow. Do you mean you don't want to see a, b etc. but instead you want to see an empty box with the colors blue, yellow respectively?

[2016-12-19 07:19] alem0lars opened #132 "Error detected while processing function signature#sign#Refresh[19]..signature#sign#Place[28]"
I got this error:

[code]

Relevant config:

[code]

[2016-12-22 12:52] tanl commented on #132
+1

[2016-12-22 13:04] tanl commented on #132
I fixed this problem when I load `gitgutter` before `signature`.

 `NeoBundle 'airblade/vim-gitgutter'`
 `NeoBundle 'kshenoy/vim-signature'`

[2016-12-23 03:37] kshenoy commented on #132
Sorry about that. I was busy at work. Thanks for catching that.

[2017-02-02 21:14] teto opened #133 "Bad interactions with vim-signify ?"
Similar to https://github.com/kshenoy/vim-signature/issues/132, vim-signature seems to dadly interact with vim-signify (output of master neovim, smae with master):
[code]
When I disable vim-signify, signature works flawlessly. Changing their declaration order does not seem to matter though:
My config
[code]
Let me know if you need a MWE. Neovim has had some problems with dicts at a point so that m

[2017-02-03 14:28] synic opened #134 "Close loclist after selecting mark?"
Right now the plugin just clears the location list, but leaves it open.

I'd like it to close automatically

[2017-02-04 21:26] kshenoy commented on #134
Hi, I'm afraid I won't be able to do this as it fundamentally goes against what the location list is meant for.

However, if you're still interested in doing this, you can add the following map to your vimrc

    :autocmd FileType qf nnoremap <buffer> <CR> <CR>:lclose<CR>

That should do what you want. However, the downside is that it will close the Location List every time you use it outside of t

[2017-02-06 04:24] trusktr opened #135 "Conflicts with go to start/end of put."
Normally you can press ```[`` or ```]`` after pasting with `p` to go to the beginning or end of the pasted content, respectively. However, this overwrites those default mappings. It'd be nice if there was an alternate mapping option?

[2017-02-06 04:46] trusktr opened #136 "How to enable colors?"
I only see dual tone:

![screen shot 2017-02-05 at 8 45 24 pm](https://cloud.githubusercontent.com/assets/297678/22634983/113fa4d4-ebe4-11e6-91d0-6a865bef29f6.png)

[2017-02-06 04:48] kshenoy commented on #135
Yeah, overwriting vim's default bindings was a bad decision on my part when I first wrote this but I didn't know much about vim then : /

Anyway, add this to your vimrc

      let g:SignatureMap = {
        \ 'GotoNextSpotByPos'  :  "",
        \ 'GotoPrevSpotByPos'  :  "",
        \ }

this will disable the mappings that normally bind ``[` `` and ``]` ``. Relevant section from the [doc](https://g

[2017-02-06 04:52] kshenoy commented on #136
Can you paste the output of

    :hi SignatureMarkText
    :hi Exception

[2017-02-06 04:52] #131 closed

[2017-02-06 04:53] #132 closed

[2017-02-06 05:07] trusktr commented on #136
They are, respectively:

[code]

[2017-02-06 05:19] trusktr commented on #135
Awesome, thanks!

[2017-02-06 05:19] #135 closed

[2017-02-06 05:25] trusktr commented on #136
I'm running `:colorscheme hybrid` after the plugin wasset with `Plug 'kshenoy/vim-signature'`. Maybe that's why?

[2017-02-06 06:46] alem0lars commented on #132
Sorry for delay.. I confirm it fixed.. Thanks :)

[2017-02-06 17:16] kshenoy commented on #136
I'm sorry but could you clarify what you mean by *wasset*? Is that a typo or the name of another plugin?

Also, can you point me to your vimrc?

[2017-02-06 17:17] kshenoy commented on #132
Np, glad it works.

[2017-02-06 17:18] kshenoy commented on #133
Hi, I'm afraid Signature doesn't  support Signify. Check out [this post](https://github.com/kshenoy/vim-signature/issues/93#issuecomment-195672354) for an explanation why.

I can take a look and get back to you to see if anything's changed since then though.

[2017-02-06 20:45] teto commented on #133
I thought it did because both worked in tandem quite nicely until some update (neovim/signify or signature dunno which is responsible).
For now I disabled `let g:SignatureMarkTextHLDynamic=1`.

[2017-02-07 20:58] kshenoy commented on #133
Hmm, did Dynamic highlighting work with Signify for you? That's interesting; it's been a long time since I last looked at it.

[2017-02-26 20:43] #133 closed

[2017-03-07 18:34] eater opened #137 "Uppercase mark always loads buffer"
I have the `V` mark set in my .vimrc for easy access.

However, vim-signature seems to always reserve buffer 2 for .vimrc as a result. When I open a fresh instance of vim with no file loaded and type `:b2` it takes me to my .vimrc. How can I prevent this from happening?

[2017-03-09 02:07] kshenoy commented on #137
Hmm, I'm not able to reproduce this behavior.

Can you start vim with only Signature enabled and let me know if you're still facing this issue. Here's a command to do that

    gvim -N --cmd 'set rtp=$VIM,$VIMRUNTIME,$VIM/after' -U NONE -u <(echo 'set rtp+=~/.vim/bundle/vim-signature')

[2017-03-09 02:23] eater commented on #137
When I start gvim with that command, I don't experience the issue.

When I start gvim with my normal configuration, but with Signature removed from my plugins directory, or with `g:SignatureEnabledAtStartup=0`, I _also_ don't experience the issue.

It only happens when I run vim normally and Signature is present.

[2017-03-09 03:03] kshenoy commented on #137
Interesting! This doesn't make sense at all. There's nothing in Signature that creates/opens buffers.

Can you point me to your vim config?

[2017-03-09 19:41] eater commented on #137
Sure: http://pastebin.com/dn87aCvZ

[2017-03-26 11:31] nkgm opened #138 "Markers only display in first column"
For example, if I drop a mark `ma` and then drop a marker `m0`, only `a` will be visible even though there is space for one more character . If I toggle the mark `m.`, then the marker `)` shows, but this means you can either display a mark or a marker but not both.

[2017-03-27 22:54] kshenoy commented on #138
Hi, this is a known limitation as the data structures for storing mark and marker related information are completely different. I agree that implementing this would be nice but it requires a major overhaul of the plugin and I can't commit to that anytime soon.

[2017-03-28 00:36] nkgm commented on #138
I appreciate that. However, [in this screenshot](http://i.imgur.com/StFXmA7.png) there is `a)`, `A)` etc. Is that GUI only?

[2017-03-28 03:09] kshenoy commented on #138
Oh, the `)` shown there isn't a marker but a literal close-paren character. Take a look at [:h g:SignatureMarkOrder](https://github.com/kshenoy/vim-signature/blob/master/doc/signature.txt#L200-L216).

[2017-03-31 20:35] michaelmior opened #139 "Error on signature refresh in neovim"
I get the following error when trying to refresh signatures in neovim. So far I haven't been able to reproduce in vim. In both, manually calling `signature#sign#Refresh` seems to work fine.

[code]

neovim version:
[code]

vim version:
[code]

[2017-04-21 18:41] trusktr commented on #136
@kshenoy Hey, I means "was set" or "was installed" with vim-plug.

Here's my vimrc, where I define the `Plug`in: https://github.com/trusktr/.vimrc/blob/master/.vimrc#L470

Then later on down I set up my colors: https://github.com/trusktr/.vimrc/blob/master/.vimrc#L1152-L1181

But as I mentioned, I also tried disabling all colorscheme stuff, so that Vim uses its default colorscheme (only `:syntax e

[2017-04-21 18:48] trusktr opened #140 "[bug] When adding or removing lines, the mark positions are not updated."
I love this plugin!

But there's only one thing that prevents proper usage for me: if I paste code (for example) the marks don't move to their new line numbers. The marks in the gutter move, as expected, but the actual marks don't, they stay on the same line.

For example, suppose we have this code and add a mark:

[code]

right now it works, navigating to the mark will take me to line `2` (the `|

[2017-05-10 01:00] icymind opened #141 "Error when launch neovim"
[code]

Neovim version:
[code]

[2017-05-10 14:26] vitaly-zdanevich opened #142 "sync color with gitgutter"
From `README.md`:

_Also supports dynamic highlighting of signs. In the image above the marks are colored according to the state of the line as indicated by gitgutter._

_NOTE: This feature is disabled by default_

So how to enable it?

[2017-05-10 14:28] vitaly-zdanevich commented on #142
Sorry I found it in documentation.

[2017-05-10 14:28] #142 closed

[2017-06-21 04:28] #139 closed

[2017-07-29 12:02] vm-wylbur commented on #141
also here, slightly different setup:

[code]
Neovim version:
[code]

[2017-08-15 18:24] gpanders commented on #136
@trusktr Do you still have this issue? I am seeing the same thing

[2017-08-16 02:34] kshenoy commented on #136
@trusktr @gpanders I'm very sorry for not checking my github in the past couple of months; I've been swamped at work.

Umm, yeah. It was a brainfart on my part : /

There was a bug in which the highlight groups would remain uninitialized if a colorscheme wasn't being explicitly loaded after Signature. This fix should address that. This can be tested with the following vim setup:
[code]

and having

[2017-08-16 02:41] kshenoy commented on #141
My apologies for the radio silence; I've been swamped at work and will be for some time but I'll try to get to it this weekend.

For the moment, if you guys would like to look at it:

From the trace (`gitgutter#hunk#hunks[1]..gitgutter#utility#bufnr:`), Signature calls the method `gitgutter#hunk#hunks` which then calls `gitgutter#utility#bufnr` which is what actually blows up because s:bufnr, a gi

[2017-08-16 02:53] gpanders commented on #136
Does this mean that I must load my colorscheme plugin after I load vim-signature? Or just that I need to call `:colorscheme <whatever>` after I install vim-signature?

I tried both, and unfortunately, the problem persists. I even tried using a completely fresh installation. I made the following `init.vim` file:

    call plug#begin('signature_test')
    Plug 'kshenoy/vim-signature'
    call plug#e

[2017-08-16 04:36] kshenoy commented on #140
@trusktr Sorry for the late response.

For most things, marks and signs behave similarly such as moving when you add/remove lines around the line with the mark/sign. However, when it comes deleting a line, vim treats the two differently; marks get removed while the sign persists. I don't know why vim chooses to do it this way.

To fix this, I ended up periodically comparing the line number of the

[2017-08-16 05:06] kshenoy commented on #136
You can call `:colorscheme` wherever you want. The order doesn't matter. The fix will help only in situations when `:colorscheme` isn't called at all and uses the default colorscheme. In other cases, it won't change anything and the behavior should be the same as earlier.

Hmm, I'm unable to reproduce it at my end. Can you just load vim-signature w/o a `:colorscheme` in your .vimrc and see if the

[2017-08-16 05:08] #134 closed

[2017-08-16 05:10] kshenoy commented on #106
Closing due to inactivity. Please feel free to reopen if the issue is still prevalent.

[2017-08-16 05:10] #106 closed

[2017-08-16 15:15] gpanders commented on #136
With the minimal vimrc I am seeing the marks be colored. So that does appear to be working. When I go back to my full vimrc, they are not. So I'm gonna keep digging into this.

When I open vanilla Vim with no other plugins installed except vim-signature, I keep getting the following error:

    Error detected while processing function signature#sign#Refresh[17]..signature#sign#GetMarkSignLine:

[2017-08-16 15:32] kshenoy commented on #136
@gpanders I found a bug in my code and fixed it. Can you give it a whirl?

[2017-08-16 17:27] gpanders commented on #136
That did it! The marks are now colored. Thanks for looking into this.

[2017-08-16 18:53] kshenoy commented on #136
Np, glad it worked. @trusktr Sorry for the delay

[2017-08-16 18:53] #136 closed

[2017-08-17 09:03] leafrabbit opened #145 "An error occurred while the marker was present."
system: `linux mint 18.2`

vim: `7.4`

file: `autoload/signature/sign.vim`

error: `Unkown function: execute`

[code]

**`execute`** command should be used alone ???????

[2017-08-17 22:22] kshenoy commented on #145
Could you tell me what you did to get the error?

[2017-08-17 23:45] kshenoy commented on #140
Retracting this fix since it causes other issues (#144 and #145).

[2017-08-17 23:48] kshenoy commented on #140
Had to retract the fix. Will try to figure out a better solution.

[2017-08-17 23:51] #145 closed

[2017-08-18 00:01] kshenoy opened #146 "Replace b:sig_marks with GetMarkSignLine"
The goal of b:sig_marks, when this plugin was written, was primarily to keep a record of which marks were present on a given line and the order in which they were added so that upto two of the most recent ones could be displayed.

Since this record was already present, I also used it to perform a reverse-lookup rather than call `signature#mark#GetList` since it was cheaper. However, the downside o

[2017-08-18 00:52] trusktr commented on #140
No prob, looking forward to it! This is one of my favorite plugins!

On Aug 17, 2017 4:48 PM, "Kartik Shenoy" <notifications@github.com> wrote:

[2017-08-18 10:00] nthorne opened #147 "vim-signature keeps reporting error on each buffer write"
Hi,

Every now and then, I end up in a state where the error message detailed below appears every time i try to save the buffer. Haven't been able to find a way to reproduce this (or get out of it, other than :q)

Using: neovim v.0.1.7, vim-signature cce7ae4

[code]

[2017-08-18 10:08] nthorne commented on #147
.. by the way; here's the (trimmed) output from ```execute('sign place')```. Is the problem that vim-signature doesn't account for buffer name when checking for matches?

[code]

[2017-08-19 00:21] kshenoy commented on #147
Hi, that piece of code wasn't well thought out and I've commented it out in a later donation. Can you please update and retry?

[2017-08-20 19:29] nthorne commented on #147
Hi,

Seems to be working fine now, when that part is commented out. Thanks!

[2017-08-20 21:45] #147 closed

[2017-09-18 15:55] jamischarles commented on #72
I'm seeing this issue pretty frequently now. To repro here's what I do.

`ma` to clear the phantom mark. Close nvim. Reopen the same file, and the mark is back. Any suggestions?

In general are normal vim marks supposed to disappear when you close vim?

[2017-09-18 23:17] kshenoy commented on #72
@jamischarles I'm not able to reproduce this error with vim. If I run `:'a,'bd`, there are no phantom marks left behind.

I'll go home and try it out with nvim.

[2017-09-20 19:38] tandrewnichols opened #148 "Need an analogous command to m,"
If you use `m,` in a vim script to mark a spot, there's no way to now what mark it used. What about mapping `dm,` to "remove last placed mark." Or is there some way to do this already?

[2017-09-20 21:04] kshenoy commented on #148
You mean apart from the fact that it shows up in the sign column?

`m,` is easy enough to do. It grabs the first mark from a list of all free marks and places it.
The reason why its counterpart `dm,` is not easy to implement is because to do it correctly, you'll have to maintain a history of all the marks that were placed. So that when someone does  `dm,` repeatedly, the correct behavior is observ

[2017-09-20 21:09] tandrewnichols commented on #148
I'm specifically talking about when setting marks from other vim scripts where the sign column is of no use. Like if you were creating a mapping that needed to mark the current location, then go somewhere else in the file and modify something, then come back, and you want to clean up the mark you set. You could obviously use something like `mt` or any letter, but there's no way to know in that cas

[2017-09-21 03:38] kshenoy commented on #148
Ah, I see what you're saying and how that might be helpful. However, I'm sorry but I don't think I'm going to support deleting the last placed mark because there are a lot of cases that need to be thought through and supported; it's not as simple as it seems on the surface.

In this case, it might be better to use some other ways to go about it. For the particular case you described, if I understa

[2017-09-21 15:39] jamischarles commented on #72
I did see this when I tried to clear a mark just right now `Signature: Unable to read/write .viminfo`

[2017-09-23 17:05] kshenoy commented on #72
That doesn't sound like an issue with the plugin itself but incorrect permissions on the .viminfo file itself. Vim uses .viminfo to save information such as command line history, search history, marks etc. Signature just reads and writes to the file to ensure that global marks are correctly removed.

Could you run `ls -l ~/.viminfo` and post the output?

[2017-09-24 01:56] jamischarles commented on #72
[code]

I'm going to wipe it and recreate it with touch and see what effect that has. What are the expected permissions for `.viminfo`?

[2017-09-24 02:07] jamischarles commented on #72
This might explain it. Looks like neovim doesn't use .viminfo anymore: https://www.reddit.com/r/neovim/comments/5con51/where_is_neovims_viminfo_located/

[2017-09-24 02:48] jamischarles commented on #72
I tried wiping my .viminfo, then symlinking my main.shada file to the .viminfo file, but the issue still persists even with that.

[2017-09-24 02:49] jamischarles commented on #72
Related I think https://github.com/neovim/neovim/issues/4288

[2017-09-24 02:53] jamischarles commented on #72
tl;dr: Sounds like the hacky workaround is for meto call `:wshada!` before I exit the file, or after I change marks to persist those mark deletions.

[2017-09-24 03:16] jamischarles commented on #72
Those threads imply that this behavior was present with viminfo files as well. Wonder if we can apply your same workaround here and call `:wshada!` in the same place?

[2017-09-24 05:05] jamischarles commented on #72
I see in this file https://github.com/kshenoy/vim-signature/blob/master/autoload/signature/mark.vim#L324 that you're manually adjusting the `.viminfo` file. I'd be happy to issue a PR to fix this for neovim. Here's what I'm thinking:

1) Check if you're in neovim.
2) On global / local mark remove, run `:wsh` command (or we could manually remove entry from shada file (neovim equivalent of viminfo)

[2017-09-24 16:50] kshenoy commented on #72
Ah nevermind, that's the problem. For some reason I assumed you were using both vim and neovim (even though you didn't mention anything about using vim) and the mention of .viminfo caused me to lead you on a wild goose chase. My apologies for that and thanks for the debug.

I updated that function `s:ForceGlobalMarkRemoval` to work with neovim. However, note that the methodology to remove the glob

[2017-10-11 01:17] vm-wylbur commented on #141
Thanks for looking into it. Alas, I stopped using signature. Then today I went back to it to check this bug, re-enabled the plugin, and the errors have gone away. I checked the Neovim setup, and it's identical to what I pasted above. Something changed, but I don't know what. I'll use signature for a while to keep an eye on it. Thanks for response.

[2017-11-10 06:40] rslindee commented on #141
I'm still having this issue. I have both this plugin and gitgutter installed. I can seemingly replicate this 100% of the time by simply opening a file, creating a mark, quitting, and re-opening the same file.

[2017-11-10 15:15] kshenoy commented on #141
@rslindee I'll take a look at this tonight

[2017-11-16 16:48] MartyLake opened #149 "Feature request: Open location list and display markers from all buffers"
Hi,

I was looking for a plugin that traces when I navigate in a new code base. This plugin looks perfect but I can't figure out a way to list all the markers.

Can you help me ?
Best,

[2017-11-16 16:50] MartyLake commented on #149
SignatureListBufferMarks does the trick. I don't know why I did not find it before.

[2017-11-16 16:50] MartyLake commented on #149
Well, il works only for the current buffer.

[2017-11-18 16:02] kshenoy commented on #149
Yes, currently it shows only all marks from the current buffer or all global marks from all buffers. I do like your suggestion but I don't have time to work on it for at least a short while.

For the moment, if you don't have a lot of marks spread across the files, you could use global marks instead.

[2017-11-20 14:21] MartyLake commented on #149
Thanks! Do you know how to emulate "m," (mark with next free letter) with global marks ?

[2017-11-22 08:06] pright commented on #140
After this retracting,  when adding or removing lines, vim keeps displaying anonying information as below in command window.
[code]
I figured out it is due to the following change. Guess this is for debugging purpose?
`+    call assert_true(len(l:arr) == 1, "Multiple marks found where one was expected")`

[2017-12-31 03:02] Seybo opened #150 "Delete all the marks from all buffers"
Is there already a way to do that? And if not then I propose to implement it

[2018-01-04 05:38] kshenoy commented on #150
You should be able to do that natively in vim using `:bufdo :delm!`.

[2018-01-04 06:04] Seybo commented on #150
thanks!

[2018-01-04 06:04] #150 closed

[2018-01-17 15:29] Fisher-Chen opened #151 "E117: Unknown function: assert_ture."
First type ma to add a mark.
When type ma again, it will report this error.
Need to comment out sign.vim line 70 to disable this error message.
`call assert_true(len(l:arr) == 1, "Multiple marks found where one was expected")`

[2018-01-18 01:23] kshenoy commented on #151
Is that all that's required to reproduce this error? Type `ma` twice on the same line? It toggles the mark a for me (as it should). Do I need to do anything else to be able to reproduce this?

[2018-02-03 10:00] nagakiran commented on #151
I too faced this issue with Vim v7.4.
Noticed that assert_true was added to Vim in v8 and that is the issue
https://github.com/vim/vim/blob/master/runtime/doc/version8.txt#L235

[2018-02-18 06:24] kshenoy commented on #151
Sorry for the delay. It should work now. Feel free to reopen in case of any issues.

[2018-02-18 06:24] #151 closed

[2018-02-18 06:41] kshenoy commented on #149
Hi, sorry for the late response. You can try setting `g:SignatureIncludeMarks='ABCDE...Z' so that it will only place global marks.

[2018-02-19 10:09] MartyLake commented on #149
Hey, thanks for the patch ! Unfortunately I can't get it working, when I try to "m.", I get an error "No free marks left"

Here is my config

[code]

[2018-02-20 15:41] dotfrag opened #152 "Settings not respected and m,/m. don't work"
Hi, I don't know if something is wrong on my side, but I'm having issues with two options (the only I tried so far) and two mappings (m, and m.).

For the command and dot mappings I get the following error:

Maybe I didn't understand how they work but they should add the next available marker yes?

And the settings I have are:
[code]

But none of these are respected, m space deletes all markers wi

[2018-02-20 18:59] trusktr commented on #140
Still looking forward to the fi for this, it's quite annoying. Most of the time, the marks only move a little ways off, so I can usually find my way. Only sometimes with large modifications do the marks become way off. So most of the time I can live with the mark being a few lines off, then navigating my way to the correct line.

[2018-02-20 19:04] trusktr commented on #140
This works fine in `vim-bookmarks`. Maybe you can look at how vim-bookmarks does it. Works perfectly there (add/remove lines, undo/redo, etc, anything you do, the marks move in the gutter and in the code).

[2018-02-21 00:03] kshenoy commented on #140
Will do. Thanks :)

[2018-02-23 05:30] shaggyrogers commented on #152
This should be fixed now.

[2018-02-23 10:53] dotfrag commented on #152
Thank you, it's much more usable now! I've noticed another bug, if you press m- or m<space> you get a Y/N prompt to confirm deletion. If you press Esc, it counts as Yes. It's a minor thing but in Vim we are used to spam the Esc key and I keep doing it by habit. If you could fix that it'd be perfect. Thanks again for the quick response.

[2018-02-23 16:14] kshenoy commented on #152
@shaggyrogers Thanks for the fix.
@dotfrag Sorry, I've been busy at work; I'll take a look at that this weekend.

[2018-02-24 23:17] hallzy opened #154 "GitGutter functions have changed"
With vim-signature and vim-gitgutter I get the following errors which I have not had previously once I open vim:

[code]

It looks as though gitgutter has changed some of the functions that vim-signature uses. Namely, many functions appear to need more arguments now than what they used to.

If I try to set a mark I get this error:

[code]

Which you may notice, is the same as the last 2 errors tha

[2018-02-25 11:10] sdicke opened #155 "Marks are shown very bright"
I tested the plugin with much different colorschemes and with every colorscheme the marks are displayed in a bright pink color which are not good visible.

Vim version: 8.0.1531-1

[2018-02-25 15:37] kshenoy commented on #155
@sdicke The default color for marks is red. You can redefine it if you want like so:

    :highlight SignatureMarkText guifg <color>

Look up `:h :highlight` for more information.

You can also set `g:SignatureMarkTextHL` to an existing highlight group using `let g:SignatureMarkTextHL = Error`

[2018-02-26 08:55] airblade commented on #154
There was a big gitgutter update in 5bfe5b9.  Many of its functions now take a buffer number.

[2018-03-01 03:17] kshenoy commented on #154
@airblade Thanks for taking the time to post here.
@hallzy Thanks for the fix

I appreciate the help :)

[2018-03-01 03:17] #154 closed

[2018-03-01 03:17] #155 closed

[2018-03-07 12:13] harryjubb commented on #132
I am getting a similar issue (please let me know if unrelated and requiring a new issue) using signature and gitgutter, regardless of the order in which I load them, and whether I set `let g:SignatureMarkTextHLDynamic = 1` before, in between, or after loading them.

Errors:

[code]

Other plugins, in case they might be interfering(?):

[code]

Any thoughts or known issue?

[2018-03-07 15:14] kshenoy commented on #132
Let's start with an easy one: Can you try updating both and see if that helps?

There was a big change to gitgutter a little while ago. See #154 for details.

[2018-03-08 11:56] harryjubb commented on #132
Eureka! You're absolutely right, I had only installed gitgutter 2 weeks ago, but on `:PlugInstall` there was a big set of changes, it's now working as expected. Thank you.

[2018-03-23 03:38] #152 closed

[2018-03-23 03:38] kshenoy commented on #152
Hi @dotfrag, sorry for the delay. Give this a try now.

[2018-03-23 15:15] dotfrag commented on #152
No problem at all. Works perfectly, thank you @kshenoy !

[2018-04-04 16:51] bbuzz31 opened #157 "Close gutter?"
Not really an issue but is it possible to close the gutter, even if marks are still there?
`:SignatureToggle` hides the marks but keeps the gutter open for me.

[2018-04-04 18:07] kshenoy commented on #157
Can you give it a try now?

[2018-04-04 18:55] bbuzz31 commented on #157
That did it, thanks.

[2018-04-04 18:55] #157 closed

[2018-04-13 00:53] caojunxyz opened #158 "cause NERDTree popup menu very slow"
environment:
macOS 10.13.3
iterm2 3.1.5
neovim v0.2.2(installed by brew)
vim-plug: e6a775e0df3180d3cfea55b351aa7b112c58c139
vim-signature: 968622e98238dd7cbd32fc5f4faa60c6b5aed6d8

If the vim-signature is opened, when press 'm' in NERDTree, the menu popup after a distinct delay.
After it is closed, the menu popup instantly.

[2018-05-07 04:45] hetmankp opened #159 "[Feature] gutter always on"

[2018-05-07 04:50] hetmankp commented on #159
Sorry about the edits, I hit "Enter" by accident and initially posted a mostly empty issue.

[2018-05-22 04:03] Seybo opened #161 "Marks removal stopped working"
I'm using
[code]
Here is my simple config
[code]
And I can't remove marks anymore. It looks like they are being removed but after the restart and reopening the file they are back. See the example:
![peek 2018-05-22 11-01](https://user-images.githubusercontent.com/10584167/40341489-b52a4ad4-5daf-11e8-8842-ed26a298b84c.gif)

[2018-05-22 16:08] Seybo commented on #161
the output is `shada=!,'100,<50,s10,h`

i'm not sure we are talking about the same thing. I understand that

what i don't understand is: why i can't remove a mark anymore?
I could do that before

but now it looks like a vim issue, not your plugin

[2018-06-08 16:19] sigzegv opened #162 "Global marks not cleared correctly"
When using 2 files on a splited vim window, if I set a global mark on the first file, and then set the same global mark on the second pane, mark on the first pane is not cleared in the gutter (while global mark is effectively removed from first file).

[2018-06-11 21:30] kshenoy commented on #162
TLDR version:
@sigzegv Marks are updated only when you enter the buffer. I did it this way to keep the implementation simple.

RTFM version:
When you add a global mark to the second buffer, I'd have to figure out if it exists in another file, if that file is open in a buffer and clear the sign for it **before** I place the new mark or I lose information about where the mark was placed previously.

[2018-06-12 08:20] sigzegv commented on #162
Yes I didn't clarified it, if you move back the gutter is cleaned correctly.

[2018-06-15 13:02] mMontu opened #163 "Invalid character in group name error on startup"
I'm experiencing a issue similar to #109 -- on startup I receive the following message:

    Error detected while processing function signature#sign#Refresh[22]..signature#sign#Place[30]..<SNR>146_RefreshLine:
    line   20:
    W18: Invalid character in group name
    W18: Invalid character in group name

It started happening after I updated the vim-signature plugin.

Following the suggestion on

[2018-06-29 00:06] dbmrq opened #164 "Special characters for markers?"
I just added this to my .vimrc:

[code]

Hoping `m0` would give me that little arrow as a marker. But the markers just completely stopped working instead. Is there a reason why some characters aren't allowed as markers?

Thanks!

[2018-06-29 13:38] kshenoy commented on #164
I was able to manually place a sign with the arrow so it's definitely possible. I'll look into this over the weekend

[2018-06-29 16:57] dbmrq commented on #164
Awesome, thanks!

[2018-06-30 03:06] gkapfham commented on #164
Thanks for suggesting this feature @dbmrq and agreeing to look into it @kshenoy. I too would really appreciate the ability to use special characters as markers! Please let me know once the feature is implemented so that I can try it out and report back on whether or not it works correctly in Vim 8 and Neovim 0.3.1-dev.

[2018-07-04 13:07] kshenoy commented on #164
I looked into this and the code that messes things up is the following in autoload/signature/utils.vim::signature#utils#Input()

    if match(l:in, '\d') >= 0
      let l:char = strpart(b:SignatureIncludeMarkers, l:in, 1)

The help for `strpart` says that it counts bytes and not characters. For simple characters this wasn't an issue since they are single-byte wide while the arrow is two bytes wide

[2018-07-04 16:40] dbmrq commented on #164
That's really weird that `strcharpart('▶︎!@#$%ˆ&*(', 0, 1)` won't get the exclamation mark.

However, this seems to work:

[code]

[2018-07-04 17:22] dbmrq commented on #164
Oh, and since the regex pattern seems to work properly, the function can be further simplified to this:

[code]

So your code could be changed to this:

[code]

(I didn't test it, but it should work.)

[2018-07-06 20:57] #164 closed

[2018-07-09 13:57] gkapfham commented on #164
Hello @kshenoy and @dbmrq! I know that this issue is already closed, but I wanted to report that I have been using the improved version of this plugin for several days with `NVIM v0.3.1-dev` on Ubuntu 16.04 and I have not had any problems with the new functionality. I have been using a `g:SignatureIncludeMarkers` similar to the one suggested by @dbmrq while placing the markers in a wide variety of

[2018-07-09 17:08] dbmrq commented on #164
@gkapfham No problem, thanks for letting us know. :)

[2018-07-14 04:28] yueyihui opened #167 ":SignatureListMarkers '!',3 very strange"
:SignatureListMarkers '!',3 there is a long strip which is marked onto the first item, why not let it mark onto the one which is '!'

[2018-08-13 21:45] kshenoy commented on #167
Hello, sorry for the late response. I've been a bit preoccupied with work.

Can you give an example of what the issue is and, if possible, a screenshot?

This is a sample text with two markers placed on lines 1 and 8:

![cap1](https://user-images.githubusercontent.com/1559554/44059815-d3d3059c-9f0f-11e8-8936-b284bfce4418.png)

and when I run `:SignatureListMarkers '!', 3`, it shows lines 1 and 8 w

[2018-08-23 03:02] yueyihui commented on #167
it is not a bug report, is a proposal is that when show up the plist the highlight look like very strange, because it was at the first, the proposal is that move highlight to the Signature, the screenshot after my change as below, the default hightlight at the first Signature
![image](https://user-images.githubusercontent.com/16845961/44502220-1242c780-a6c3-11e8-9d7c-7a003c93e8b6.png)

[2018-11-26 23:24] mbward commented on #159
https://superuser.com/questions/558876/how-can-i-make-the-sign-column-show-up-all-the-time-even-if-no-signs-have-been-a/558885

    :set signcolumn=yes

[2018-11-27 01:19] hetmankp commented on #159
Thanks for the suggestion @mbward . While this means that the vim-signature :SignatureToggleSigns command no longer makes the gutter disappear, it should solve my specific problem nicely.

[2019-03-25 03:17] MarioRicalde commented on #93
@kshenoy it's been a couple of years since the signify check. Any chance it's ready for your integration? ;)

[2019-04-05 00:11] kshenoy commented on #93
@MarioRicalde I didn't think anyone was interested in this considering how quiet it's been so didn't poke it anymore. The least I could do is test the waters and see if this can be done

[2019-04-05 11:47] ultrox commented on #158
@kshenoy thanks for this grate plugin, its such a grate idea.
I wonder have you given up on this issue?

[2019-05-08 20:08] YodaEmbedding opened #169 "Delete mark via location list"
When the location list is opened via `m/`, it would be nice to be able to `dd` away any undesired marks.

[2019-08-22 09:24] mfiano commented on #93
I am interested in signify support if you ever find the time :)

[2019-09-11 01:00] z-huabao opened #170 "deleted marks appear again when reopen the file"
I use neovim, and open a file such as init.vim and mark some, then `m<Space>` clear all marks and `:q` exit, it will be OK here, but all marks appear again when I reopen the file.

[2019-10-11 12:00] FractalWire commented on #170
Seems like it's a neovim issue : https://github.com/neovim/neovim/issues/4295

[2020-01-03 05:22] Freed-Wu opened #171 "Why when I open a `*.html` will get this error?"
Open any html always get this message. but open any xml will not. And if open a txt, the `:set ft=html` will not get this message. It is so strange.

[code]

Thank you!

[2020-01-26 16:17] nomasprime commented on #36
@kshenoy would like to have a go at PR for this. Any pointers to get me started?

[2020-02-19 23:10] vkrajacic89 opened #172 "SignatureMap doesn't pick up my keybindings"
Hi,
I'm trying to change default keybindings for `GotoNextLineByPos` and `GotoPrevLineByPos`. This is in my vimrc.
[code]
I've removed everything else in my vimrc and in plugins directory. Using GVim 8.1.1

Thanks,
Vjekoslav

[2020-03-17 07:04] Freed-Wu opened #173 "can signature#mark#list show the postion of ".", "'", "`", etc?"
i have noticed this plugin is better than many other plugins. but it looks like signature#mark#list cannot show  the postion of ".", "'",  "`", etc, like MarksBrowser
![2020-03-17 15-03-10 的屏幕截图](https://user-images.githubusercontent.com/32936898/76830568-75292000-6860-11ea-90fc-9e286445aa2f.png)

it is an enhancement. Thanks!

[2020-03-23 19:09] kshenoy commented on #173
Hello, I've thought about adding that but then I couldn't find a compelling reason to do because I'd just be duplicating the built-in functionality of `:marks` without adding anything new. So I'm still on the fence on this.

[2020-03-24 01:17] kshenoy commented on #36
@nomasprime Tbh, I'd question the value-add of doing this. That's partly why I haven't added this yet. Between vim's internal `:marks` command and most navigation plugins like CtrlP, Fzf etc. adding support for jumping to marks, I've been wondering if this is really useful.
I don't mean to discourage and nor am I against adding support, it's just that I couldn't convince myself that I'd be adding

[2020-03-24 01:18] #173 closed, assigned to nobody

[2020-03-24 01:18] kshenoy commented on #173
Duplicates #36

[2020-03-24 01:49] kshenoy commented on #36
Ok, I added support for this on the dev_internal_marks. Give it a go and let me know in case of any issues. I'll merge it into the master in a couple of days if everything's hunky-dory.

[2020-03-24 01:58] kshenoy commented on #172
Hmm, strange. That works for me. Can you share your minimal vimrc?

[2020-03-24 02:02] kshenoy commented on #171
Hello, I tried opening an html file and I'm not seeing this issue. Can you create a minimal vimrc with only Signature installed and enabled and try to isolate the issue?

[2020-03-24 02:13] #170 closed, assigned to nobody

[2020-03-24 02:20] kshenoy commented on #169
Hello @YodaEmbedding. I'm sorry but I don't think I'd be supporting this request.

LocationList is meant to obtain a filtered view into the buffer and any operations performed there are not meant to propagate to the buffer itself. Your feature request would violate this general principle.

Furthermore, one can argue that by pressing `dd` in any buffer, one intuitively expects the buffer itself to

[2020-03-24 02:20] #169 closed, assigned to nobody

[2020-03-24 05:20] #171 closed, assigned to nobody

[2020-03-24 08:31] sanpii commented on #36
I add in my vimrc:
[code]
But I see nothing:
![2020-03-24-092651_1676x969_scrot](https://user-images.githubusercontent.com/113045/77404204-ab5f2600-6db1-11ea-9825-3103f7bfbee8.png)

[2020-03-25 21:47] kshenoy commented on #36
@sanpii Oh, sorry about that. I only added it to the LocationList, not the display. I'll get back to you

[2020-03-26 03:50] cs-pchsu opened #174 "How to turn off this plugin by default ?"
Hi,

I have a question "How to turn off this plugin by default".
When I need it, I will use the :SignatureToggle to enable it.

I tried to achieve this using the following method in my .vimrc, but an error occurred.
.vimrc:
au BufEnter * :SignatureToggle <CR>
error:
Error detected while processing BufEnter Auto commands for "*":
E488: Trailing characters: :SignatureToggle <CR>

Thanks for your rep

[2020-03-26 14:18] kshenoy commented on #174
Use `let g:SignatureEnabledAtStartup=0`. You can explicitly enable it using `:SignatureToggleSigns`

[2020-03-26 14:20] kshenoy commented on #163
Hello, sorry for not responding any sooner; there were a lot of other things vying for my time. Please let me know if this is still an issue

[2020-03-26 15:09] #161 closed

[2020-03-27 01:13] cs-pchsu commented on #174
Hi @kshenoy

Thanks for your reply.
The method you provide solve my problem.

[2020-03-27 01:13] #174 closed, assigned to nobody

[2020-03-31 10:23] mMontu commented on #163
Hi @kshenoy, no worries.

This issue doesn't occur anymore. To be honest I don't recall when or why the workaround I mentioned above is not necessary anymore (for the record, I'm using hash 968622e9).

Thanks!

[2020-03-31 10:23] #163 closed

[2020-04-11 08:33] maximebl opened #175 "Can't remap `m,`"
Hello!

I am trying to remap the `m,` command by using `nnoremap <leader>n m,` in order to insert the next available mark but it doesn't work and I'm not sure why. I just get a error ping when I press the keymap. I tried with several other mappings and it didn't work either. Is anyone else able to reproduce this issue?

[2020-04-12 08:36] MaxGyver83 commented on #36
@kshenoy : Are you working on this? I really would love to see internal marks in the sign column. That way, I would use them more often!

[2020-05-25 18:01] alexeRadu opened #176 "Question: marks vs markers?"
Hey, This is not an issue but more of a question regarding the design. What is the difference between markers and marks. I know that markers come from numbers (converted to their shift value) and mars are letters but other than that?
And also there is a limited number of marks + markers available. Why not assign a number to them and keep a list internally. And also make all of them global (or proj

[2020-06-28 21:33] kshenoy commented on #176
Marks are a feature built into vim - lowercase marks are local to the buffer while the uppercase are global and shared across all buffers/files. Thus most decisions regarding marks are dictated by vim's design decisions and not mine. The only thing I added to it was displaying it on the side.

I felt marks were a tad limited in what they could do and wanted to fill in a few holes - one thing in pa

[2020-07-08 07:12] #176 closed, assigned to nobody

[2020-07-24 12:15] francescoboc opened #177 "Signs marker displayed as numbers?"
Hi, first of all thanks for this awesome plugin!
I was wondering, would it b e possible to display numbers `0...9` instead than signs `!@#$%^&*()`?
Thanks

EDIT: I just realised I was completely misunderstanding the concept of numbered marks. They cannot be set up manually, so never mind!

[2020-07-24 12:35] #177 closed, assigned to nobody

[2020-08-23 14:52] IsaacElenbaas opened #178 "Theming is broken"
I am unable to change `SignatureMarkText` through a theme file or my vimrc, even after adding `runtime! plugin/signature.vim` above it, though running the same highlight manually is fine. This may be caused by #130, as it is only by putting my highlight on the same autocommand that I can get it to work.

[2020-09-20 00:15] nomasprime commented on #36
Hi @kshenoy. My notifications weren't set up properly, only just saw your reply.

I can't speak for others but I suspect their reasoning's pretty similar: the internal marks are really useful for operations like re-selecting the last visual selection; very hard to keep track of all the internal marks in your head so would be really helpful to see them on the screen before issuing the command; also

[2020-10-02 21:12] davidv171 commented on #175
I can't reproduce it at all.

[2020-12-10 04:56] hantaotaohan opened #179 "Whether the quickfix window can be closed automatically after the bookmark can be located"
Whether the quickfix window can be closed automatically after the bookmark can be located

[2020-12-10 23:16] kshenoy commented on #179
There is currently no support for this as this is not the default behavior of vim

[2020-12-11 00:21] hantaotaohan commented on #179
autocmd FileType qf nnoremap <buffer> <CR> <CR>:lclose<CR>
autocmd FileType qf nnoremap <buffer> ma <CR>:lclose<CR>

I tested the feasibility myself

or
FileType > bufname = Quickfix

But I don't know if my code will have other effects

[2020-12-22 19:46] kshenoy commented on #179
Let me clarify what I meant. I didn't mean to say that it cannot be done; it certainly is possible as you've shown yourself. What I meant to say was that vim-signature does not do this as that is not how vim behaves by default.

[2021-01-23 16:07] teto opened #180 "dont limit the number of marks per line"
this is one of my favorite plugins.
One of the cool feature was the limit in the numbers of mark shown but now that neovim accepts `signcolumn=auto:9` (grows with the number of marks), it would be nice to disable this check (or make it configurable) to be able to see all marks at once.

[2021-01-28 07:51] poetaman opened #181 "Enhancement: SignatureListBufferMarks: Don't lose window focus while navigating the list"
Hi, thanks for this plugin! Can we please have a feature to not lose window while navigating the marks list? Ideally navigating the list up and down would move to the mark location while maintaining the focus in the location window. This can be achieved by executing ``:wincmd p`` (p stands for previous) after jumping to the next/prev mark.

[2021-02-22 14:59] atomdmac opened #182 "Possible to Disable Default Keybinds?"
Is there a way to disable all of the default keybinds?  I'd like to define binds for _just_ the functions that I use and leave the rest unbound.  Obviously, I can unbind them all manually but I'm wondering if there's a built-in way to handle this.

[2021-03-02 08:10] NicklasLallo opened #183 "signify integration. "Key not present in Dictionary: buffer""
I have been using both signature & signify together without any issues for a long time using
`let g:SignatureMarkTextHLDynamic=1`

But recently I started getting some different issues. Namely, when editing a file not version controlled (so signify shouldn't do anything), I get the following error:
[code]

After some digging around I found that the sy dictionary gets created, but not populated. For

[2021-03-02 08:24] deividaspetraitis commented on #36
Hello, any updates regarding this? I would love to have this feature, it should definitely help incorporate internal marks into workflow.

[2021-04-09 15:50] BertrandSim opened #184 "mark in first line of buffer not shown"
When I drop a mark on the first line of the buffer, the mark is not shown.

Steps to reproduce:
1. open an empty buffer
2. hit `ma`

The sign column width changes from 0 to 2, and the mark is indeed placed (since `'a` does take me to the first line), but the mark text is not shown.

[2021-05-28 02:55] #167 closed, assigned to nobody

[2021-06-12 15:52] IsaacElenbaas commented on #140
I thought I had somehow broken the plugin somewhere in my 1000-line `vimrc` - good to know I won't have to binary search to find the problem, haha

Anywho, this should be easily fixable with the `TextChanged` and `TextChangedI` events. Comparing the mark and sign positions for every pair on every edit isn't great, especially if it isn't straightforward to get sign positions (if it was, I assume th

[2021-08-15 05:34] Freed-Wu opened #185 "[bug] mark cannot be deleted"
[code]

press `ma`
![Screenshot from 2021-08-15 13-28-35](https://user-images.githubusercontent.com/32936898/129468246-c5d68f35-12af-4774-bc49-e124229b2fbb.png)

press `ZZ`, then
[code]

press `m-`
![Screenshot from 2021-08-15 13-28-40](https://user-images.githubusercontent.com/32936898/129468252-a2f1727a-de06-465a-b9ba-0b91cd40e18b.png)

press `ZZ`, then
[code]
![Screenshot from 2021-08-15 13-28-

[2021-08-22 16:36] cpkio commented on #185
This is Neovim _feature_ not to save removal of marks in shada file. Fix with force writing shada file on exit: `autocmd VimLeave * wshada!`

[2021-08-22 16:39] cpkio commented on #183
Thank you for this fix.

[2021-08-23 01:02] Freed-Wu commented on #185
You are great!

Perhaps this tip can help more people.

Thanks!

[2021-08-23 01:02] #185 closed, assigned to nobody

[2021-08-25 07:03] netvolcano opened #186 "why there is a mark named 'p' displayed?"
When I open a file, there will be  a mark of 'p' displayed. I remembered that I did not create it when I closed the file. I checked the .viminfo file and found there were 'p' marks for every files. Can I know which script create this mark? How can I get rid of it?

I found a similar issue as below, but I didn't find any solution.

`https://github.com/kshenoy/vim-signature/issues/56`

[2021-08-26 10:34] netvolcano commented on #186
I find the issue is caused by the `xptemplate` plugin. It will place two marks of 'p' and 'l' at the background.

[2021-08-26 10:34] #186 closed, assigned to nobody

[2021-09-19 09:38] stutterrrrer commented on #36
+1,
these automatic marks indeed are really difficult to keep track of in the head, but incredibly useful if utilized well.
would totally make this plugin perfect for me!

[2022-03-26 05:08] pycj opened #187 "what's differences mark from marker"
Thanks your plugin first!
so, "m?" is means that LocalListMarkers , so what's differences from "m\\"
and i dont't know why my "m<space>" dont't work.
thank you.

[2022-03-26 07:11] pycj commented on #187
solved。sorry

[2022-08-07 15:18] #187 closed, assigned to nobody

[2022-08-09 16:35] kshenoy commented on #187
Hello, sorry about the late response. Between work and me migrating away from vim, I haven't been able to pay much attention to this plugin.

Marks are built into vim and you can use all the lowercase characters as marks but each of them can only be placed once per buffer. There's also the uppercase characters but those are global in scope and can only be used 1 per uppercase character across all

[2022-08-11 17:28] amarz45 commented on #142
Where in the documentation did you find it? I couldn't find it?

[2022-11-23 08:59] dcDeba opened #190 "How to highlight the line on which a mark set has been set"
How can I highlight the lines on which marker has been set. I am unable to find a way to do this.